@page "/OverrideTray"
@layout MenuLayout

<ModalOverrideTray @ref="_ModalOverrideTray" OnChangeData="HandleRefreshGridData"></ModalOverrideTray>

<div class="container-fluid mt-5">
    <!-- Parte 1: Título y Contenido alineado a la izquierda -->
    <div class="row">
        <div class="col-8">
            <h1>Comunicaciones - Bandeja de anulación</h1>

        </div>

    </div>
</div>

<div class="row mt-3">
    <div class="row-3">
        <button class="btn btn-primary btn-lg btn-block" onclick="@MostrarModal">Nueva Solicitud</button>
    </div>

    <div class="row mt-3">

        <div class="row col-md-8">
            <!-- Tarjeta 1 -->
            <div class="col-3 col-md-3 mb-3">
                <!-- Contenido de la tarjeta 1 -->
                <DynamicCardComponent BorderColor="#AB2222"
                                      ShadowColor="#AB2222"
                                      LabelText="Pendientes"
                                      CardNumber="5" 
                                      OnClickCardAction="HandleClickCardPendiente" />
            </div>

            <!-- Tarjeta 2 -->
            <div class="col-3 col-md-3 mb-3">
                <!-- Contenido de la tarjeta 2 -->
                <DynamicCardComponent BorderColor="#82A738"
                                      ShadowColor="#82A738"
                                      LabelText="Anulados"
                                      CardNumber="20"
                                      OnClickCardAction="HandleClickCardAnulado" />
            </div>

            <!-- Tarjeta 3 -->
            <div class="col-3 col-md-3 mb-3">
                <!-- Contenido de la tarjeta 3 -->
                <DynamicCardComponent BorderColor="#41BAEA"
                                      ShadowColor="#41BAEA"
                                      LabelText="Desanulados"
                                      CardNumber="40" 
                                      OnClickCardAction="HandleClickCardDesanulado" />
            </div>

            <!-- Tarjeta 4 -->
            <div class="col-3 col-md-3 mb-3">
                <!-- Contenido de la tarjeta 4 -->
                <DynamicCardComponent BorderColor="#EAD519"
                                      ShadowColor="#EAD519"
                                      LabelText="Rechazados"
                                      CardNumber="35"
                                      OnClickCardAction="HandleClickCardRechazado" />
            </div>
        </div>
        @{
            if (@ClickPendiente == true)
            {
                <div class="row col-md-8 mt-5">
                    <div class="col-md-6 mt-4">
                        <InputModalComponent IsRequired="true" LabelText="Tipo de Anulación / Desanulación Masiva" Placeholder="Seleccione tipo" FieldType="ValidationType.Name" />
                    </div>
                    <div class="col-md-6 mt-5">
                        <button class="btn btn-primary btn-lg btn-block" type="button">Desanulación masiva</button>
                    </div>
                </div>

            }

            }
        
        <div class="col-md-4">
            <!-- Donut -->
            <div class="col">


                <!-- Donut -->
                <TelerikChart>

                    <ChartSeriesItems>
                        <ChartSeries Type="ChartSeriesType.Donut"
                                     Data="@Data"
                                     Field="@nameof(ModelData.SegmentValue)"
                                     CategoryField="@nameof(ModelData.SegmentName)">
                            <ChartSeriesTooltip Visible="true" Context="item">
                                <Template>
                                    @item.Percentage.ToString("P")
                                </Template>
                            </ChartSeriesTooltip>

                        </ChartSeries>
                    </ChartSeriesItems>

                    <ChartLegend Visible=true Position="ChartLegendPosition.Right">
                    </ChartLegend>
                </TelerikChart>



            </div>
        </div>

    </div>






    <!-- grilla -->
    <div class="row">
        <div>

            <TelerikGrid Data="Data" PageSize="10"
                         Sortable="true"
                         FilterMode="GridFilterMode.FilterMenu"
                         Resizable="true"
                         Reorderable="true"
                         EditMode="GridEditMode.Popup"
                         SelectionMode="GridSelectionMode.None">
                <GridColumns>
                    <GridCommandColumn Width="80px" Title="Acciones" HeaderClass="center-wrap" Visible="true">
                        @* <GridCommandButton Icon="@SvgIcon.FormElement" Title="Detalles" OnClick="@((args)=> ShowModalEdit(args.Item as PermissionDtoResponse))"></GridCommandButton> *@
                        <GridCommandButton Icon="@SvgIcon.FormElement" Title="Detalles"></GridCommandButton>
                    </GridCommandColumn>
                    <GridColumn Field="Category"
                                Title="ID"
                                Width="150px"
                                Filterable="true"
                                TextAlign="ColumnTextAlign.Center"
                                HeaderClass="center-wrap" />
                    <GridColumn Field="Value"
                                Title="Funcionalidad"
                                Width="150px"
                                Filterable="true"
                                TextAlign="ColumnTextAlign.Center"
                                HeaderClass="center-wrap" />


                </GridColumns>
                <NoDataTemplate>
                    <strong>No Data available / The data is still loading...</strong>
                </NoDataTemplate>
            </TelerikGrid>
        </div>
    </div>
</div>




