@page "/RadicationReceived"
@using System.Text.Json;
@using ControlDoc.Models.Models.Administration.Response;
@using ControlDoc.ComponentViews.ComponentViews.GenericViews;
@using ControlDoc.Models.Models.Generic
@layout MenuLayout

<GenericDocTypologySearchModal @ref="docTypologySearchModal" title="Comunicaciones - Radicación de comunicación recibida" OnStatusChanged="HandleTRDSelectedChanged">

</GenericDocTypologySearchModal>
<GenericSearchModal @ref="genericSearchModal"
                    OnStatusChangeRadication="HandleRadicationChanged"
                    ConfigurationInUse="3"
                    Title="Comunicaciones -  Radicación de comunicación recibida "></GenericSearchModal>

<ModalVisualizacionMetadatos @ref="visualizacionMetadatos"></ModalVisualizacionMetadatos>
<ModalCommunicationReceived @ref="communicationReceivedModal" OnReturnFilingAttachmentsModel="HandleFilingAttachments"></ModalCommunicationReceived>
<ModalNotificationsComponent @ref="notificationModal"></ModalNotificationsComponent>

<div class="container-fluid mt-1">
    <!-- Parte 1: Título y Contenido alineado a la izquierda -->
    <div class="row titulo">
        <div class="col-8">
            <h3>Comunicaciones -  Radicación de comunicación recibida</h3>
        </div>
        <!-- Parte 2: Botón azul alineado a la derecha -->
        <div class="col-4 text-end">
            @* <button class="btn btn-primary btn-lg btn-block" @onclick="mostrarModal">Crear</button> *@
        </div>
    </div>

    <!-- Parte 3: GR = Gestión de Radicación-->
    <div class="row mt-2">

        <!-- Parte 4: GR - Paso 1-->
        <div id="panel-1" class="row pb-30" style="display: @panel_1">

            <div class="col-md-1 d-flex justify-content-center align-items-center">
                <div class="numero"><h2>1</h2></div>                
            </div>

            <div class="row col-md-9">

                <div class="col-md-8">
                    <label style="margin-bottom:6px;">Tipo de Documento: <span class="red">*</span></label>
                    
                    <TelerikDropDownList Data="@lstTipoDoc"
                                         Value="@ValueTipoDocumento"
                                         Id="GR_TipoDoc"
                                         DefaultText="Seleccione un tipo de documento..."
                                         TextField="value"
                                         ValueField="code"
                                         Filterable="true"
                                         ValueChanged="@((string Value) => ActivarPanel(Value,"TIPODOCUMENTO", 1))"
                                         FilterOperator="StringFilterOperator.Contains">
                    </TelerikDropDownList>
                </div>
                <div class="col-md-4">
                    <label style="margin-bottom:6px;">Prioridad: </label>
                    <TelerikDropDownList Data="@lstPrioridad"
                                         Value="@ValuePrioridad"
                                         Id="GR_Prioridad"
                                         DefaultText="Seleccione una prioridad..."
                                         TextField="value"
                                         ValueField="code"
                                         Filterable="true"
                                         FilterOperator="StringFilterOperator.Contains">
                    </TelerikDropDownList>
                </div>
                <div class="col-md-8 mt-2">
                    <div class="cuadro-info">
                        <InputModalComponent @bind-InputValue="TRDSelected.TypologyName" IsDisabled="true" IsVisible="true" LabelText="Asignación automática del trámite a gestores: " Placeholder="Información general" MethodValueChanged="@((string Value) => ActivarPanel(Value,"TRAMITEGESTOR", 1))" />
                    </div>
                </div>
                <div class="col-md-4 d-flex flex-column-reverse">
                    <div class="text-center">
                        <button class="btn btn-primary btn-lg btn-block btn-style" type="button" @onclick="showModal">Buscar en TRD</button>
                    </div>
                </div>

            </div>

        </div>

        <!-- Parte 5: GR - Paso 2-->
        <div id="panel-2" class="row pb-30" style="display: @panel_2">
            
            <div class="col-md-1 d-flex justify-content-center align-items-center">
                <div class="numero"><h2>2</h2></div>
            </div>

            <div class="row col-md-9">

                <div class="col-md-4">
                    <label class="mt-2" style="margin-bottom:6px;">País: <span class="red">*</span></label>
                    <TelerikDropDownList Data="@lstPais"
                                         Value="@ValuePais"
                                         Id="GR_Pais"
                                         TextField="name"
                                         ValueField="countryId"
                                         DefaultText="Seleccione un país..."
                                         OnChange="GetState"
                                         Filterable="true"
                                         ValueChanged="@((int Value) => ActivarPanel(Value.ToString(),"PAIS", 2))"
                                         FilterOperator="StringFilterOperator.Contains">
                    </TelerikDropDownList>
                </div>
                <div class="col-md-4">
                    <label class="mt-2" style="margin-bottom:6px;">Departamento: <span class="red">*</span></label>
                    <TelerikDropDownList Data="@lstDepartamento"
                                         Value="@ValueDepartamento"
                                         Id="GR_Departamento"
                                         TextField="name"
                                         ValueField="stateId"
                                         DefaultText="Seleccione un departamento..."
                                         OnChange="GetCity"
                                         Enabled="@EnabledDepartamento"
                                         Filterable="true"
                                         ValueChanged="@((int Value) => ActivarPanel(Value.ToString(),"DEPARTAMENTO", 2))"
                                         FilterOperator="StringFilterOperator.Contains">
                    </TelerikDropDownList>
                </div>
                <div class="col-md-4">
                    <label class="mt-2" style="margin-bottom:6px;">Municipio: <span class="red">*</span></label>
                    <TelerikDropDownList Data="@lstMunicipio"
                                         Value="@ValueMunicipio"
                                         Id="GR_Municipio"
                                         DefaultText="Seleccione un municipio..."
                                         TextField="name"
                                         ValueField="cityId"
                                         Enabled="@EnabledMunicipio"
                                         Filterable="true"
                                         ValueChanged="@((int Value) => ActivarPanel(Value.ToString(),"MUNICIPIO", 2))"
                                         FilterOperator="StringFilterOperator.Contains">
                    </TelerikDropDownList>
                </div>
                <div class="col-md-4 mt-2">
                    <label style="margin-bottom:9px;">Fecha Documento: <span class="red">*</span></label>
                    <TelerikDatePicker @bind-Value="ValueFechaDocumento"
                                       Id="GR_FechaDocumento"
                                       Format="dd MMMM yyyy"
                                       Min="@Min" Max="@Max">
                    </TelerikDatePicker>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="cuadro-info">
                        <InputModalComponent LabelText="N° de Guía / Código Postal:" Placeholder="" />
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="cuadro-info">
                        <InputModalComponent IsRequired="true" LabelText="Folios: " IsVisible="true" Placeholder="" MethodValueChanged="@((string Value) => ActivarPanel(Value,"FOLIOS", 2))" InputType="number"/>
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <div class="cuadro-info">
                        <InputModalComponent IsRequired="true" LabelText="N° Documento Interno: " IsVisible="true" Placeholder="" MethodValueChanged="@((string Value) => ActivarPanel(Value,"NDOCUMENTOINTERNO", 2))" InputType="number" />
                    </div>
                </div>
                <div class="col-md-4 mt-2">
                    <label style="margin-bottom:6px;">Notificación: </label>
                    <TelerikDropDownList Data="@lstNotificacion"
                                         @bind-Value="@ValueNotificacion"
                                         Id="GR_Notificacion"
                                         DefaultText="Seleccione una notificacion..."
                                         TextField="value"
                                         ValueField="code"
                                         Filterable="true"
                                         FilterOperator="StringFilterOperator.Contains">
                    </TelerikDropDownList>
                </div>
                <div class="col-md-4 mt-2 d-flex justify-content-start align-items-center">
                    <div class="row w-100">
                        <div class="col-md-3" style="width:72px; cursor:pointer;">
                            <a @onclick="showModalMetadatos"> <img src="../img/metadatosIcon.svg" alt="Icon de Metadatos" class="navbar-logo" width="60" height="60" /> </a>
                        </div>
                        <div class="col-md-9">
                            <label class="mb-0">Metadatos: <span class="red">*</span> </label>
                            <label class="noti-1">Debe ingresar al menos un metadato para continuar </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-2">
                    <label style="margin-bottom:6px;">Asunto: <span style="color:gray">(@contadorcarac carateres de 500)</span> <span class="red">*</span></label>
                    <textarea class="w-100 custom-textarea" id="GR_Asunto" placeholder="" required maxlength="500" @oninput="ContarCaracteres" @onchange="@(e => ActivarPanel(e.Value.ToString(),"ASUNTO", 2))"></textarea>
                </div>

            </div>

        </div>

        <!-- Parte 6: GR - Paso 3-->
        <div id="panel-3" class="row pb-40" style="display: @panel_3">

            <div class="col-md-1 d-flex justify-content-center align-items-center">
                <div class="numero"><h2>3</h2></div>
            </div>

            <div class="row col-md-9">

                <div class="row">
                    <h5 class="mb-0">Cargar Adjuntos</h5>
                    <label class="noti-2"> La carga de adjuntos/anexos es opcional. Si considera que es relevante para la radicación, por favor, cárguelos a continuación:</label>
                    <div class="col-md-4 mt-2">
                        <button class="btn btn-primary btn-lg btn-block btn-style" type="button" @onclick="showModalAttachments">Subir Adjuntos/Anexos</button>
                    </div>

                    <div class="col-md-12" style="margin-top:31px;">
                        <div class="table-responsive custom-table-container">
                            <table class="table custom-table">
                                <thead>
                                    <tr>
                                        <th style="width: 76px;"><img src="../img/carbonDocumentAdd.svg" alt="Upload file" style="cursor:pointer; width: 25px; height: 25px;" /></th>
                                        <th>Detalle</th>
                                        <th>Archivo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var fileInfo in lstFileInfoData)
                                    {
                                        <tr>
                                            <td class="center-item">
                                                <img src="../img/deleteIcon.svg" alt="Delete Icon" style="width: 20px; height: 20px; cursor: pointer;" />
                                            </td>
                                            <td class="align-items-center" style="word-break: break-word;">
                                                <span>@fileInfo.Description</span>
                                            </td>
                                            <td class="center-item">
                                                <i class="@fileInfo.IconPath" style="font-size: 20px;"></i>
                                                <span>@fileInfo.Name@fileInfo.Extension</span>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

              @*   <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive custom-table-container">
                        <table class="table custom-table">
                            <thead>
                                <tr>
                                    <th><img src="../img/carbonDocumentAdd.svg" alt="Upload file" style="cursor:pointer; width: 30px; height: 30px;" /></th>
                                    <th>Detalle</th>
                                    <th>Archivo</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var fileInfo in lstFileInfoData)
                                {
                                    <tr>
                                        <td>
                                            <img src="../img/deleteIcon.svg" alt="Delete Icon" style="width: 20px; height: 20px; cursor: pointer;"  />
                                        </td>
                                        <td class="align-items-center" style="word-break: break-word;">
                                            <span>@fileInfo.Description</span>
                                        </td>
                                        <td class="align-items-center">
                                            <i class="@fileInfo.IconPath" style="font-size: 18px;"></i>
                                            <span>@fileInfo.Name@fileInfo.Extension</span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div> *@

            </div>

        </div>

        <!-- Parte 7: GR - Paso 4-->
        <div id="panel-4" class="row pb-40" style="display: @panel_4">

            <div class="col-md-1 d-flex justify-content-center align-items-center">
                <div class="numero"><h2>4</h2></div>
            </div>

            <div class="row col-md-9">

                <div class="row">
                    <h5 class="mb-0">Destinatarios y Remitentes</h5>
                    <label class="noti-2"> Debe ingresar por lo menos un destinatario y un remitente para continuar, por favor, cárguelos a continuación:</label>
                    <div class="col-md-4 mt-2">
                        <button class="btn btn-primary btn-lg btn-block btn-style" type="button" @onclick="showRecipient">Subir Adjuntos/Anexos</button>
                    </div>

                </div>

                <div>
                </div>

            </div>

        </div>

        <!-- Parte 8: GR - Paso 5-->
        <div id="panel-5" class="row pb-40" style="display: @panel_5">

            <div class="col-md-1 d-flex justify-content-center align-items-center">
                <div class="numero"><h2>5</h2></div>
            </div>

            <div class="row col-md-9">

                <div class="col-md-4">
                    <h5 class="mb-0">Generar Radicado</h5>
                    <label class="noti-2">Número de radicado:</label>
                    <div class="col-md-12 mt-2">
                        <button class="btn btn-primary btn-lg btn-block btn-style" type="button" @onclick="GenerarRadicadoTemp">Radicar</button>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row d-flex justify-content-end">
                        <div class="col-md-3">
                            <h3 class="mb-0 titulo-azul">Radicado:</h3>
                            <h5 class="mb-0">ID Documento:</h5>
                            <label class="noti-2">Año:</label>
                        </div>
                        <div class="col-md-8">
                            <h3 class="mb-0 titulo-azul">@Radicado</h3>
                            <h5 class="mb-0">@IdDocumento</h5>
                            <label class="noti-2">@Anio</label>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>





    <!-- Parte 3: Grilla -->
@*     <div class="row mt-4">
        <div class="col">
            <GridControlDoc PageSize="10"
                            IconUrlImage="../img/icóno lápiz.svg"
                            DataObjectList="@lisTipoDoc" T="@SystemFieldsDtoResponse"
                            PropertyNames="@(new List<string> { "stateId", "codeNum" ,"codeTxt","name"})"
                            TitlesList="@(new List<string> { "ID","Codigo","Diminutivo","Nombre"})"
                            ModalId="Modal-City">
            </GridControlDoc>
        </div>
    </div> *@

@* </div> *@

