@page "/ProductionOffice"
@using System.Text.Json;
@using Telerik.DataSource;
@using ControlDoc.ComponentViews.ComponentViews.GenericViews;
@layout MenuLayout

<div class="container-fluid mt-5">

    <ModalProductionOffices @ref="modalProductionOffice" OnStatusChanged="HandleStatusChanged"
                            OnStatusChangedUpdate="HandleStatusChangedUpdated"></ModalProductionOffices>

    <GenericSearchModal OnStatusUserChanged="HandleUserSelectedChanged" @ref="genericSearchModal"
                        ConfigurationInUse="1"
                        multipleSelection=false
                        showCopiesColumn=false
                        Title="Administración - Oficinas Productoras - Buscador de usuarios"></GenericSearchModal>



    <!-- Parte 1: Título y Contenido alineado a la izquierda -->
    <div class="row">
        <div class="col-8">
            <h1>Administración - Oficinas Productoras</h1>

        </div>
        <!-- Parte 2: Botón azul alineado a la derecha -->
        <div class="col-4 text-end">
            <button class="btn btn-primary btn-lg btn-block" @onclick="ShowModal" disabled="@(isEnable)">Crear</button>
        </div>
    </div>


    <div class="input-container">
        <label for="input2">Seleccione una Unidad Administrativa*</label>
    </div>


    <div class="input-container">

        <TelerikDropDownList Data="@administrativeUnitsList"
                             ValueField="AdministrativeUnitId"
                             Value="idAdUnit"
                             TextField="Name"
                             ValueChanged="@((int newValue) => OnDropDownValueChanged(newValue))">

        </TelerikDropDownList>

    </div>


    <!-- Parte 3: Grilla -->
    <div class="row mt-4">
        <div class="col">

            <TelerikGrid Data="productionOfficesList" PageSize="meta.pageSize"
                         Sortable="true"
                         FilterMode="GridFilterMode.FilterMenu"
                         Resizable="true"
                         Reorderable="true"
                         EditMode="GridEditMode.Popup"
                         SelectionMode="GridSelectionMode.None">
                <GridColumns>

                    <GridCommandColumn Width="80px" Title="Editar" HeaderClass="center-wrap" Visible="true">
                        <GridCommandButton Icon="@SvgIcon.Pencil" OnClick="@((args)=> ShowModalEdit(args.Item as ProductionOfficesDtoResponse))"></GridCommandButton>
                        <GridCommandButton Icon="@SvgIcon.Trash" OnClick="@((args)=> ShowModalDelete(args.Item as ProductionOfficesDtoResponse))"></GridCommandButton>
                    </GridCommandColumn>
                    <GridColumn Field="Code"
                                Title="Código"
                                Width="150px"
                                Filterable="true"
                                TextAlign="ColumnTextAlign.Center"
                                HeaderClass="center-wrap" />
                    <GridColumn Field="Name"
                                Title="Nombre de la Oficina"
                                Width="150px"
                                Filterable="true"
                                TextAlign="ColumnTextAlign.Center"
                                HeaderClass="center-wrap" />
                    <GridColumn Field="AdministrativeUnitName"
                                Title="Unidad Administrativa"
                                Width="150px"
                                Filterable="true"
                                TextAlign="ColumnTextAlign.Center"
                                HeaderClass="center-wrap" />
                    <GridColumn Field="BossName"
                                Title="Jefe"
                                Width="150px"
                                Filterable="true"
                                TextAlign="ColumnTextAlign.Center"
                                HeaderClass="center-wrap" />
                    <GridColumn Field="ActiveState"
                                Title="Estado"
                                Width="150px"
                                Filterable="true"
                                TextAlign="ColumnTextAlign.Center"
                                HeaderClass="center-wrap" />

                </GridColumns>
            </TelerikGrid>










        </div>
    </div>


    <!-- Parte 4: Botones en la izquierda, centro y derecha -->
    @if (dataChargue)
    {
        <PaginationComponent ObjectMeta="@meta" T="ProductionOfficesDtoResponse" OnPaginationRefresh="HandlePaginationGrid" Headers="@headers"></PaginationComponent>
    }



 
</div>
<ModalNotificationsComponent @ref="modalNotification" OnModalClosed="HandleModalNotiClose"></ModalNotificationsComponent>
<ModalNotificationsComponent @ref="notificationModalSucces"></ModalNotificationsComponent>