@page "/State"
@using System.Text.Json;
@using ControlDoc.Components.Components.DropDownListTelerik
@using ControlDoc.Components.Components.Grids
@layout MenuLayout

@* <ModalPermisos @ref="ModalCrearOEditar" ModalStatusPermisos="ModalStatusPermisos" PerfilID="IdPerfil" IdModalIdentifier="Modal-Branch-Office"></ModalPermisos>
 *@


<div class="container-fluid mt-5">
    <!-- Parte 1: Título y Contenido alineado a la izquierda -->
    <div class="row">
        <div class="col-8">
            <h1>Administración - Departamento</h1>

        </div>
        
    </div>
</div>

<!-- Parte 3: DropdownList Telerik -->

<div class="row">

    
    <div class="col-4 input-container">
        <label for="input2" style="margin-bottom:6px;">Seleccione un País: <span class="darkred">*</span></label>
        <TelerikDropDownList Data="@PaisesList"
        @bind-Value="@IdPaises"
                             Id="GR_Pais"
                             TextField="name"
                             ValueField="countryId"
                             DefaultText="Seleccione un país..."
                             OnChange="GetState"
                             Filterable="true"
                             FilterOperator="StringFilterOperator.Contains">
        </TelerikDropDownList>
        @* <TelerikDropDownList Data="@PaisesList"
                             @bind-Value="@IdPaises"
                             TextField="name"
                             ValueField="countryId"
                             Filterable="true"
                             DefaultText="Seleccione una opción.."
                             OnChange="GetState"
                             Width="300px">
        </TelerikDropDownList> *@
    </div>
    <!-- Parte 3: Grilla -->
    <div class="row mt-4">
        <div class="col">
          @*   <GridControlDoc PageSize="10"
                            IsEditColumn="false"
                            DataObjectList="@DepartamentosList" T="@StateDtoResponse"
                            PropertyNames="@(new List<string> { "stateId", "codeNum" ,"codeTxt","name"})"
                            TitlesList="@(new List<string> { "ID","Codigo","Diminutivo","Nombre"})"
                            
                            >
            </GridControlDoc> *@

            <TelerikGrid Data="DepartamentosList" PageSize="10"
                         Sortable="true"
                         FilterMode="GridFilterMode.FilterMenu"
                         Resizable="true"
                         Reorderable="true"
                         EditMode="GridEditMode.Popup"
                         SelectionMode="GridSelectionMode.None">
                <GridColumns>
                    @* <GridCommandColumn Width="80px" Title="Editar" HeaderClass="center-wrap" Visible="true">
                    <GridCommandButton Icon="@SvgIcon.Pencil" OnClick="@((args)=> ShowModalEdit(args.Item as PermissionDtoResponse))"></GridCommandButton>
                    <GridCommandButton Icon="@SvgIcon.Trash" OnClick="@((args)=> ShowModalDelete(args.Item as PermissionDtoResponse))"></GridCommandButton>
                    </GridCommandColumn> *@
                    <GridColumn Field="stateId"
                                Title="ID"
                                Width="150px"
                                Filterable="true"
                                TextAlign="ColumnTextAlign.Center"
                                HeaderClass="center-wrap" />
                    <GridColumn Field="codeNum"
                                Title="Codigo"
                                Width="150px"
                                Filterable="true"
                                TextAlign="ColumnTextAlign.Center"
                                HeaderClass="center-wrap" />
                    <GridColumn Field="codeTxt"
                                Title="Diminutivo"
                                Width="150px"
                                Filterable="true"
                                TextAlign="ColumnTextAlign.Center"
                                HeaderClass="center-wrap" />
                    <GridColumn Field="name"
                                Title="Nombre"
                                Width="150px"
                                Filterable="true"
                                TextAlign="ColumnTextAlign.Center"
                                HeaderClass="center-wrap" />
                    


                </GridColumns>
                <NoDataTemplate>
                    <strong>No Data available / The data is still loading...</strong>
                </NoDataTemplate>
            </TelerikGrid>
        </div>
    </div>

    <!-- Parte 4: Botones en la izquierda, centro y derecha -->
    <div class="row mt-4">
        <div class="col-4">
            <button class="btn btn-secondary">Botón Izquierda</button>
        </div>
        <div class="col-4 text-center">
            <a href="tu_url">
                <img src="../img/paginacion.svg" alt="Texto Alternativo" class="img-fluid">
            </a>
        </div>
        <div class="col-4 text-end">
            <a href="tu_url">
                <img src="../img/botonExcel.svg" alt="Texto Alternativo" class="img-fluid">
            </a>
        </div>
    </div>



</div>


