@page "/ThirdParty"
@layout MenuLayout

@using System.Text.Json;
@using Telerik.DataSource;


<ModalThirdParty @ref="modalThirdParty" OnStatusChanged="HandleStatusChanged" OnIdSaved="HandleId" OnResetForm="HandleForm" OnChangeData="HandleRefreshGridData"></ModalThirdParty>
<ModalAddress @ref="modalAddress" Id="modal-Address" OnStatusChangedMultipleSelection="HandleUserSelectedChanged"></ModalAddress>
<div class="container-fluid mt-5">
    
    <!-- Parte 1: Título y Contenido alineado a la izquierda -->
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h1>Administración - Personas Naturales y Jurídicas</h1>
        </div>
    </div>

    <div class="row pt-4">

        <!-- Contenedor para los Tres Inputs -->
        <div class="col-md-8">
            <div class="row">
                <!-- Parte Izquierda: Input y Label -->
                <div class="col-md-4 col-sm-12">
                    <div class="input-container">
                        <label class="text-filter" for="names">@((currentTab==0) ? "Nombres" : "Razón Social")</label>
                    </div>
                    <div class="input-container w-100">
                        <input class="w-100" type="text" id="names" @bind-value="names" placeholder="Nombres">
                    </div>
                </div>
                <!-- Parte Izquierda: Input y Label -->
                <div class="col-md-4 col-sm-12">
                    <div class="input-container">
                        <label class="text-filter" for="email">Correo electrónico</label>
                    </div>
                    <div class="input-container w-100">
                        <input class="w-100" type="text" id="email" @bind-value="email" placeholder="Correo electrónico">
                    </div>
                </div>
                <!-- Parte Izquierda: Input y Label -->
                <div class="col-md-4 col-sm-12">
                    <div class="input-container">
                        <label class="text-filter" for="identification">Número de identificación</label>
                    </div>
                    <div class="input-container w-100">
                        <input class="w-100" type="text" id="identification" @bind-value="identification" placeholder="Número de identificación">
                    </div>
                </div>
            </div>
        </div>

        <!-- Contenedor para los Tres Botones -->
        <div class="col-md-4">
            <div class="row pt-3 justify-content-end">
                <!-- Parte Derecha: Dos Botones -->
                <div class="col-md-4 col-sm-4 pt-4">
                    <div class="text-end">
                        <button class="btn w-100 btn-primary btn-lg btn-block botones limpiar" type="button" @onclick=ResetFiltersAsync>Limpiar</button>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 pt-4">
                    <div class="text-end">
                        <button class="btn w-100 btn-primary btn-lg btn-block botones guardar" type="submit" @onclick=ApplyFiltersAsync>Buscar</button>
                    </div>
                </div>
                <!-- Parte Derecha: Un Boton -->
                <div class="col-md-2 col-sm-4 pt-4">
                    <div class="text-start">
                        <button class="btn w-50 btn-primary btn-lg btn-block botones guardar d-flex justify-content-center align-items-center" style="border-radius: 10px;" type="submit" @onclick="ShowModal">
                            <i class="fas fa-plus"></i> 
                        </button>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Parte 3: Grilla -->
    <div class="row mt-4">
        <div class="col">
            <TelerikTabStrip ActiveTabIndexChanged="@TabChangedHandler">

                @foreach (var tabItem in tabs)
                {
                    <TabStripTab Title="@tabItem.Title" >
                        <Content>
                            <div class="row mt-4">
                                <div class="col">
                                    <TelerikGrid Data="@tabItem.FilteredData" PageSize="@tabItem.Meta.pageSize"
                                                 Sortable="true"
                                                 FilterMode="GridFilterMode.FilterMenu"
                                                 Resizable="true"
                                                 Reorderable="true"
                                                 EditMode="GridEditMode.Popup"
                                                 SelectionMode="GridSelectionMode.None">
                                        <GridColumns>

                                            <GridCommandColumn Width="80px" Title="Acciones" HeaderClass="center-wrap" Visible="true">
                                                <GridCommandButton Icon="@SvgIcon.Pencil" OnClick="@((args)=> ShowModalEdit(args.Item as ThirdPartyDtoResponse))"></GridCommandButton>
                                                <GridCommandButton Icon="@SvgIcon.Trash" OnClick="@((args) => HandleRecordToDelete(args.Item as ThirdPartyDtoResponse))"></GridCommandButton>
                                            </GridCommandColumn>
                                            <GridColumn Field=@nameof(ThirdPartyDtoResponse.IdentificationTypeName) Title="Tipo de Documento" Width="100px" Filterable="true" />
                                            <GridColumn Field=@nameof(ThirdPartyDtoResponse.IdentificationNumber) Title="Documento" Width="100px" Filterable="true" />
                                            <GridColumn Field="@nameof(ThirdPartyDtoResponse.FullName)" Width="100px" Filterable="true">
                                                    <HeaderTemplate>
                                                    @if (tabItem.Title == "Persona Natural")
                                                        {
                                                        <text>Nombres y Apellidos</text>
                                                        }
                                                        else
                                                        {
                                                            <text>Razón Social</text>
                                                        }
                                                    </HeaderTemplate>
                                                <Template>
                                                    @{
                                                        ThirdPartyDtoResponse rowData = context as ThirdPartyDtoResponse;
                                                        if (rowData != null)
                                                        {
                                                            if (tabItem.Title == "Persona Natural")
                                                            {
                                                                var valueText = rowData.FullName;
                                                                @valueText
                                                            }
                                                            else
                                                            {
                                                                var valueText = rowData.Names;
                                                                @valueText
                                                            }
                                                        }
                                                    }
                                                </Template>
                                            </GridColumn>
                                            <GridColumn Field=@nameof(ThirdPartyDtoResponse.ChargeName) Width="100px" Filterable="true">
                                                <HeaderTemplate>
                                                    @if (tabItem.Title == "Persona Natural")
                                                    {
                                                        <text>Cargo</text>
                                                    }
                                                    else
                                                    {
                                                        <text>Naturaleza</text>
                                                    }
                                                </HeaderTemplate>
                                                <Template>
                                                    @{
                                                        ThirdPartyDtoResponse rowData = context as ThirdPartyDtoResponse;
                                                        if (rowData != null)
                                                        {
                                                            if (tabItem.Title == "Persona Natural")
                                                            {
                                                                var valueText = rowData.ChargeName;
                                                                @valueText
                                                            }
                                                            else
                                                            {
                                                                var valueText = rowData.NatureName;
                                                                @valueText
                                                            }
                                                        }
                                                    }
                                                </Template>
                                            </GridColumn>
                                            <GridColumn Field=@nameof(ThirdPartyDtoResponse.Country) Title="Pais" Width="100px" Filterable="true" />
                                            <GridColumn Field=@nameof(ThirdPartyDtoResponse.StateC) Title="Departamento" Width="100px" Filterable="true" />
                                            <GridColumn Field=@nameof(ThirdPartyDtoResponse.City) Title="Municipio" Width="100px" Filterable="true" />
                                            <GridColumn Field=@nameof(ThirdPartyDtoResponse.Address) Title="Dirección" Width="100px" Filterable="true" />

                                        </GridColumns>
                                    </TelerikGrid>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <!-- Parte 4: Botones en la izquierda, centro y derecha -->
                                <PaginationComponent ObjectMeta="@tabItem.Meta" T="ThirdPartyDtoResponse" OnPaginationRefresh="HandlePaginationGridAsync"></PaginationComponent>
                            </div>
                        </Content>
                    </TabStripTab>
                    
                }
            </TelerikTabStrip>
        </div>
    </div>

    

</div>
<ModalNotificationsComponent @ref="notificationModal" OnModalClosed="HandleModalNotiClose"></ModalNotificationsComponent>
<ModalNotificationsComponent @ref="notificationModalSucces"></ModalNotificationsComponent>


<style>
    .k-tabstrip-top > .k-tabstrip-items-wrapper .k-item:active, .k-tabstrip-top > .k-tabstrip-items-wrapper .k-item.k-active {
        margin-bottom: -1px;
        border-bottom-width: 1px;
        border-bottom-color: transparent !important;
        background-color: #41BAEA;
        border-color: #41BAEA;
        font-weight: 700;
        color: white;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .k-tabstrip-top > .k-tabstrip-items-wrapper .k-item {
        color: black;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-color: #41BAEA;
        border-top-width: 2px;
        border-left-width: 2px;
        border-right-width: 2px;
    }

    .k-tabstrip-content, .k-tabstrip > .k-content {
        border-color: transparent;
    }
</style>