@page "/profile"
@layout MenuLayout

<div class="d-flex flex-xl-row flex-lg-column flex-md-column flex-sm-column flex-column pt-card1">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 card-profile">
        <div class="card my-cards" style="box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);">
            <div class="d-flex flex-row center-object" style="margin: 0; padding: 20px 70px 0;">
                <h4>Perfil Usuario</h4>
            </div>
            <div class="card-body card-profile-content">

                <div class="d-flex flex-xl-row flex-column align-items-center justify-content-between">

                    <div class="col-xl-3 col-12 mt-2 d-flex justify-content-center">
                        <div class="profile-picture">
                            <div class="profile-img">
                                <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcT8xyN_5S7C0SGowXNQzpL58xEt-udDprdaOe2N_2O6XJ3ePF4e" alt="Imagen de perfil">
                            </div>
                            <button class="edit-button" @onclick="TriggerFileInputClick">
                                <i class="bi bi-pencil" style="font-size: 20px"></i>
                            </button>
                            <InputFile id="inputFileElement" multiple OnChange="OnChange" style="display: none;" />
                        </div>
                    </div>
                    <div class="col-xl-9 col-12 mt-2" style="padding: 10px 40px">
                        <h1 class="d-sm-block">@userDto.FullName</h1>
                        <div class="col-6 d-flex flex-column justify-content-around">
                            <label>Cargo: <b>@userDto.Charge</b></label>
                            <label>Perfiles Asignados: <b>@profiles</b></label>
                            <label>Unidad Administrativa: <b>@userDto.AdministrativeUnitName</b></label>
                            <label>Oficina Productora: <b>@userDto.ProductionOfficeName</b></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card my-cards" style="box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);">
            <div class="card-body d-flex flex-column gap-2">
                <div class="d-flex flex-xl-row flex-lg-row flex-md-column flex-sm-column flex-column ">
                    <div class="col-lg-6 col-12 d-flex flex-column align-items-center">
                        <div class="row">
                            <h5>Firmas</h5>
                        </div>
                        <button class="btn btn-primary btn-lg btn-block btn-style my-buttons">Firma Mecánica</button>
                        <button class="btn btn-primary btn-lg btn-block btn-style my-buttons">Firma Rubrica</button>
                        <button class="btn btn-primary btn-lg btn-block btn-style my-buttons">Firma Digital P12</button>
                    </div>
                    <div class="col-lg-6 col-12 d-flex flex-column align-items-center pt-column">
                        <div class="row">
                            <h5>Firmas Adicionales</h5>
                        </div>
                        <button class="btn btn-primary btn-lg btn-block btn-style my-buttons">Firma Mecánica 1</button>
                        <button class="btn btn-primary btn-lg btn-block btn-style my-buttons">Firma Mecánica 2</button>
                        <button class="btn btn-primary btn-lg btn-block btn-style my-buttons">Firma Mecánica 3</button>
                    </div>
                </div>
                <div class="row">
                    <button class="col-lg-6 col-12 mt-3 password-button">
                        <i class="bi bi-person-circle" style="color: #1b6ec2"></i>
                        Contraseña usuario
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row d-flex justify-content-center pt-card2">
    <div class="col-12">
        <div class="card my-card" style="box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);">
            <div class="card-body">
                <div class="col-12 mt-2">
                    <h3>Datos Generales</h3>
                </div>
                <div class="col-12 d-flex flex-wrap gap-5 mt-2 center-object">
                    <div class="col-xl-3 col-lg-5 col-md-10 col-sm-10">
                        <div class="space-labels">
                            <InputModalComponent @bind-InputValue="userDto.FirstName" LabelText="Nombres" IsVisible="true" IsDisabled="true"></InputModalComponent>
                        </div>
                        <div class="space-labels">
                            <InputModalComponent @bind-InputValue="userDto.Email" LabelText="Email" IsVisible="true" IsDisabled="true"></InputModalComponent>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-5 col-md-10 col-sm-10">
                        <div class="space-labels">
                            <InputModalComponent @bind-InputValue="userDto.LastName" LabelText="Apellidos" IsVisible="true" IsDisabled="true"></InputModalComponent>
                        </div>
                        <div class="space-labels">
                            <InputModalComponent @bind-InputValue="userDto.CellPhoneNumber" LabelText="Celular" IsVisible="true" IsDisabled="true"></InputModalComponent>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-5 col-md-10 col-sm-10">
                        <div class="space-labels">
                            <InputModalComponent @bind-InputValue="userDto.Identification" LabelText="Numero de Identificacion" IsVisible="true" IsDisabled="true"></InputModalComponent>
                        </div>
                        <div class="space-labels">
                            <InputModalComponent @bind-InputValue="userDto.PhoneNumber" LabelText="Telefono" IsVisible="true" IsDisabled="true"></InputModalComponent>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>