@using ControlDoc.Components.Components.Input;
@using ControlDoc.Models.Models.Administration.Response;

<div class="my-modal">
    <div class="row py-4">

        <div class="col-md-3">


            @{

                if (showParamTrdDdl)
                {


                    <label>Unidad Administrativa </label>
                    <TelerikDropDownList Data="@administrativeUnitList"
                                         ValueField="AdministrativeUnitId"
                                         Value="selectAdministriveUnitId"
                                         TextField="Name"
                                         ValueChanged="@((int newValue) => OnChangeUA(newValue))"
                                         Filterable="isFilterableAdministriveUnit"
                                         Enabled="isEnableAdministriveUnit"
                                         DefaultText="Unidad Administrativa">

                    </TelerikDropDownList>





                }

                if (showNameField)

                {


                    <InputModalComponent @ref="firstNameInput" IsRequired="false" LabelText="Consultar por nombre" Placeholder="Nombre" />

                }
            }
        </div>


        <div class="col-md-3">

            @{
                if (showParamTrdDdl)
                {

                    <label>Oficina Productora</label>
                    <TelerikDropDownList Data="@productionOfficeList"
                                         ValueField="ProductionOfficeId"
                                         Value="selectProductionOfficetId"
                                         TextField="Name"
                                         ValueChanged="@((int newValue) => OnChangeOP(newValue))"
                                         Filterable="isFilterableProductionOffice"
                                         Enabled="isEnableProductionOffice"
                                         DefaultText="Oficina Productora">

                    </TelerikDropDownList>

                }

                if (showLastNameField)
                {
                    if (showLastNameField == true)
                    {

                        <InputModalComponent @ref="lastNameInput" IsRequired="false" LabelText="Consultar por apellido" Placeholder="Apellido" />

                    }
                }


            }


        </div>


        <div class="col-md-3">
            @{
                if (showCarge)
                {

                    <label>Cargo</label>
                    <TelerikDropDownList Data="@chargeList"
                                         ValueField="Code"
                                         Value="selectChargeCode"
                                         TextField="Value"
                                         ValueChanged="@((string newValue) => OnChangeCh(newValue))"
                                         Filterable="isFilterableCharge"
                                         Enabled="isEnableCharge"
                                         DefaultText="Cargo">

                    </TelerikDropDownList>

                }

            }
        </div>



        <div class="col-md-3">



            <button class="botones buscar btn btn-primary btn-lg btn-block btn-style" @onclick="OnClickButton" type="button">Buscar</button>


        </div>


    </div>
    <div class="row">

        <TelerikGrid Data="@UserList"
                     Sortable="true"
                     Resizable="false"
                     ScrollMode="@GridScrollMode.Scrollable"
                     Height="480px"
                     RowHeight="60"
                     Reorderable="true">
            <GridColumns>
                <GridColumn Id="Columna1" Width="14%">

                    <HeaderTemplate>
                        @{
                            if (multipleSelection)
                            {
                                <TelerikCheckBox  class="mr-1" @bind-Value="@selectAllManager" OnChange="@ChangeAllStateManager">
                                </TelerikCheckBox>

                            }


                            <label> Seleccionar </label>
                        }
                    </HeaderTemplate>
                    <Template>

                        @{



                            var userSelected = context as VUserDtoResponse;

                            <TelerikCheckBox @bind-Value="@userSelected!.Selected" OnChange="@(() => ChangeStateManager(userSelected))">
                            </TelerikCheckBox>

                        }


                    </Template>
                </GridColumn>
                <GridColumn Id="Columna2" Visible="@(showCopiesColumn && multipleSelection)" Width="10%">

                    <HeaderTemplate>


                        <TelerikCheckBox @bind-Value="@selectAllCopies" OnChange="@ChangeAllStateCopies">
                        </TelerikCheckBox>




                        <label> Copias </label>

                    </HeaderTemplate>

                    <Template>

                        @{
                            var userCopied = context as VUserDtoResponse;

                            <TelerikCheckBox @bind-Value="@userCopied!.Copy" OnChange="@(() =>ChangeStateCopies(userCopied))">
                            </TelerikCheckBox>


                        }




                    </Template>
                </GridColumn>
                <GridColumn Title="Usuarios">
                    <Template>
                        @{
                            var user = context as VUserDtoResponse;

                            <div class="row d-flex align-items-center">

                                <div class="col-md-2">
                                    <TelerikSvgIcon Icon="@SvgIcon.User" Size="@ThemeConstants.SvgIcon.Size.ExtraExtraExtraLarge"></TelerikSvgIcon>
                                </div>

                                <div class="col">
                                    <div class="row">
                                        <label><b>Nombre:</b> @user?.FullName</label>
                                    </div>

                                    <div class="row">
                                        <label> <b>Unidad Administrativa:</b> @user?.AdministrativeUnitName</label>
                                    </div>

                                    <div class="row">
                                        <label><b>Oficina productora:</b> @user?.ProductionOfficeName</label>
                                    </div>

                                    <div class="row">
                                        <label><b>Cargo:</b> @user?.Charge</label>
                                    </div>




                                </div>
                            </div>
                        }
                    </Template>
                </GridColumn>


            </GridColumns>
        </TelerikGrid>

    </div>



</div>