

<PageTitle>PasswordRecovery</PageTitle>

<EditForm Model="@formModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ModalComponent @ref="modal"></ModalComponent>

    <div class="row">
        <div class="col-12 form-group mb-4 text-center">
            <LabelComponent KeyName=@setKeyName("LabelTextRecuperarCuenta") For="name-field" FontSize="24px" IsBold="true" IsCentered="true" />
        </div>
        <div class="col-12 form-group mb-4">
            <LabelComponent KeyName=@setKeyName("PlaceHolderDireccionCorreo") For="name-field" />
        </div>
        <div class="col-12 form-group mb-4">
            <LabelComponent KeyName=@setKeyName("LabelTextCorreo") For="email-field" AdditionalClasses="mb-2" />
            <InputComponent @ref="emailInput" InputType=InputTypeEnum.email Placeholder="@setKeyName("PlacerHolderCorreo")" ErrorMessage="El correo electrónico es requerido." ShowErrors="@formSubmitted" />
        </div>
    </div>
    <div class="row button-container">
        <div class="col-12 text-center mt-2">
            <button class="btn btn-primary btn-lg w-50" type="submit">@setKeyName("ButtonSend")</button>
        </div>
    </div>
    <div class="row login-prompt">
        <div class="col-12 text-center">
            <span class="login-text">@setKeyName("SpanYaTienesCuenta")</span>
            <a @onclick="CambiarComponente" class="login-link">@setKeyName("SpanIngresa")</a>
        </div>
    </div>
    <div class="col-12 text-center mt-4 mb-4">
        <a class="btn rounded-pill text-white border border-white position-relative" @onclick="CambiarComponente" style="background-color: transparent;">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>
    @*     <button @onclick="@(()=> BotonClick.InvokeAsync("CodeRecovery"))">Cambiar de componente</button>
    <button @onclick="CambiarComponente">Cambiar de componente con contenedor</button> *@

</EditForm>


