

<div class="my-modal">
    <TelerikRootComponent>

        <GenericModalComponent Title="Consultar Registro" Width="50%" IsVisible="modalStatus" OnModalClosed="HandleModalClosed">
            <ChildContent>
                <EditForm Model="@DocTemplateFormResponse" OnValidSubmit="HandleValidSubmit">
                    <div class="row">
                        <div class="row col-md-12 d-flex justify-content-end">
                            <div class="col-md-2">
                                <button class="btn btn-primary btn-lg btn-block botones limpiar" type="button">Limpiar</button>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary btn-lg btn-block botones guardar" type="submit">Buscar</button>
                            </div>
                        </div>
                        <div class="col-md-4 pt-3">
                            <label for="input2" class="text">ID</label>
                            <TelerikDropDownList Data="Data"
                                                 ValueField="SeriesId"
                                                 Value="@ID"
                                                 TextField="Name"
                                                 Filterable="true"
                                                 DefaultText="ID">
                            </TelerikDropDownList>
                        </div>
                        <div class="col-md-4 pt-3">
                            <label for="input2" class="text">Fecha solicitud</label>
                            <TelerikDatePicker @bind-Value="@SelectedDate"
                                               Min="@Min"
                                               Max="@Max"
                                               Format="MM/dd/yyyy"
                                               DebounceDelay="@DebounceDelay"
                                               ShowWeekNumbers="true">
                                <DatePickerFormatPlaceholder Day="day" Month="month" Year="year" />
                            </TelerikDatePicker>
                        </div>
                        <div class="col-md-4 pt-3"></div>
                        <div class="col-md-4 pt-3">
                            <InputModalComponent @ref="IdcontrolInput" @bind-InputValue="Idcontrol" IsDisabled="false" LabelText="ID Control" Placeholder="IdControl" InputType="number" />
                        </div>
                        <div class="col-md-4 pt-3">
                            <InputModalComponent @ref="FoliolInput" @bind-InputValue="Folio" IsDisabled="false" LabelText="Folios" Placeholder="Folios" InputType="number" />
                        </div>
                        <div class="col-md-4 pt-3">
                            <InputModalComponent @ref="SolicitanteInput" @bind-InputValue="Solicitante" IsDisabled="false" LabelText="Solicitante" Placeholder="Solicitante" />
                        </div>
                        <div class="col-md-4 pt-3">
                            <InputModalComponent @ref="RadicadoInput" @bind-InputValue="Radicado" IsDisabled="false" LabelText="Radicado" Placeholder="Radicado" />
                        </div>
                        <div class="col-md-4 pt-3">
                            <InputModalComponent @ref="AnexoInput" @bind-InputValue="Anexo" IsDisabled="false" LabelText="Anexos" Placeholder="Anexos" InputType="number" />
                        </div>
                        <div class="col-md-4 pt-3">
                            <InputModalComponent @ref="OficinaInput" @bind-InputValue="Oficina" IsDisabled="false" LabelText="Oficina" Placeholder="Oficina" />
                        </div>

                    </div>
                   
                </EditForm>
                <ModalNotificationsComponent @ref="notificationModal" OnModalClosed="HandleModalNotiClose"></ModalNotificationsComponent>
            </ChildContent>
        </GenericModalComponent>
    </TelerikRootComponent>
</div>

   