<div class="my-modal">
    <TelerikRootComponent>

        <GenericModalComponent Title="Comunicaciones - Radicación de comunicación recibida" IsVisible="modalStatus" OnModalClosed="HandleModalClosed" Width="80%">
            <ChildContent>
                <EditForm Model="@FilingAttachmentsModel" OnValidSubmit="HandleValidSubmit">
                    <div class="p-4">

                        <div class="col-md-12">
                            <label style="margin-bottom:6px;">Detalle: <span style="color:gray">(@contadorcarac carateres de 500)</span> <span class="red">*</span></label>
                            <textarea class="w-100 custom-textarea" id="GR_Asunto" placeholder="" required maxlength="500" oninput="@ContarCaracteres" @bind="@FilingAttachmentsModel.Details"></textarea>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-5 pe-5">
                                <div class="d-flex">
                                    <div class="me-5 mt-auto ">
                                        <TelerikSwitch @bind-Value="@SelectDeliveryCertificate" OnLabel="" OffLabel="" Class="mt-2"></TelerikSwitch>
                                    </div>
                                    <div class="align-items-end flex-fill">
                                        <label class="mt-2" style="margin-bottom: 6px;">Certificado de Entrega: </label>
                                        <TelerikDropDownList Data="@lstNotificacion"
                                                             @bind-Value="@FilingAttachmentsModel.CertificateOfDeliveries"
                                                             TextField="value"
                                                             ValueField="code"
                                                             DefaultText="Medio de envío"
                                                             Enabled=@SelectDeliveryCertificate>
                                        </TelerikDropDownList>
                                    </div>
                                </div>

                                <div class="d-flex ">
                                    <div class="me-5 mt-auto">
                                        <TelerikSwitch @bind-Value="@SelectReasonForReturn" OnLabel="" OffLabel="" Class="mt-2"></TelerikSwitch>
                                    </div>
                                    <div class="align-items-end flex-fill">
                                        <label class="mt-2" style="margin-bottom:6px;">Motivo de Devolucion: </label>
                                        <TelerikDropDownList Data="@lstNotificacion"
                                                             @bind-Value="@FilingAttachmentsModel.ReasonForReturn"
                                                             TextField="value"
                                                             ValueField="code"
                                                             DefaultText="Medio de envío"
                                                             Enabled=@SelectReasonForReturn>
                                        </TelerikDropDownList>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <InputModalComponent LabelText="Obervación" Placeholder="Observación" @bind-InputValue="FilingAttachmentsModel.Observations"></InputModalComponent>
                                </div>

                                <div class="mb-3">
                                    <InputModalComponent LabelText="N° de Guía" Placeholder="Número de guía" @bind-InputValue="FilingAttachmentsModel.GuideNumber"></InputModalComponent>
                                </div>

                                <div class="d-flex justify-content-center px-5">
                                    <button class="botones limpiar mx-3" type="button">Limpiar</button>
                                    <button class="btn-secondary botones guardar mx-3" type="submit">Guardar</button>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <DragAndDropFilesComponent OnFileListChanged="HandleFilesList"></DragAndDropFilesComponent>
                            </div>
                        </div>
                    </div>

                </EditForm>
            </ChildContent>
        </GenericModalComponent>
    </TelerikRootComponent>
</div>