


<div class="my-modal">
<TelerikRootComponent>

        <GenericModalComponent Title="Expediente asociados al documento 1113018" Width="50%" IsVisible="modalStatus" OnModalClosed="HandleModalClosed">
           
                    <TelerikTabStrip PersistTabContent="true">
                        <TabStripTab Title="Criterios de consulta">

                            <div class="row">
                                <div class="row col-md-12 d-flex justify-content-end">
                                    <div class="col-md-6">
                                        <InputModalComponent IsDisabled="true" @ref="IdExpedienteInput"  IsRequired="true" LabelText="ID Expediente"/>
                                    </div>
                                    <div class="col-md-6 d-flex align-items-end">
                                        <button class="btn btn-primary btn-lg btn-block botones guardar" type="submit">Buscar</button>
                                    </div>
                                </div>

                                <div class="col-md-12 pt-4">
                                    <strong class="texto">Filtrar por TRD</strong>
                                </div>

                                <div class="col-md-6">
                                    <label for="input2" class="text">Version documental </label>
                                    <TelerikDropDownList Data="@docVersionList"
                                                         ValueField="DocumentalVersionId"
                                                         Value="@idDocVersion"
                                                         TextField="Name"
                                                         ValueChanged="@( (int newValue) => GetAdministrativeUnits(newValue) )"
                                                         Filterable="true"
                                                         DefaultText="Versiones documentales">
                                    </TelerikDropDownList>
                                </div>
                                <div class="col-md-6">
                                    <label for="input2" class="text">Unidad Administrativa </label>
                                    <TelerikDropDownList Data="@adminUnitList"
                                                         ValueField="AdministrativeUnitId"
                                                         Value="@idAdminUnit"
                                                         TextField="Name"
                                                         ValueChanged="@( (int newValue) => GetProducOffice(newValue) )"
                                                         Enabled="isEnableAdminUnit"
                                                         Filterable="true"
                                                         DefaultText="Unidades Administrativas">
                                    </TelerikDropDownList>

                                </div>
                                <div class="col-md-6">
                                    <label for="input2" class="text">Oficina productora</label>
                                    <TelerikDropDownList Data="@proOfficesList"
                                                         ValueField="ProductionOfficeId"
                                                         Value="@idProOffice"
                                                         TextField="Name"
                                                         ValueChanged="@( (int newValue) => GetSeries(newValue) )"
                                                         Enabled="isEnableProOffice"
                                                         Filterable="true"
                                                         DefaultText="Officinas">
                                    </TelerikDropDownList>
                                </div>
                                <div class="col-md-6">
                                    <label for="input2" class="text">Serie documental</label>
                                    <TelerikDropDownList Data="@seriesList"
                                                         ValueField="SeriesId"
                                                         Value="@idSerie"
                                                         TextField="Name"
                                                         ValueChanged="@( (int newValue) => GetSubSeries(newValue) )"
                                                         Enabled="isEnableSerie"
                                                         Filterable="true"
                                                         DefaultText="Series documentales">
                                    </TelerikDropDownList>
                                </div>

                                <div class="col-md-12 pt-4">
                                    <strong class="texto">Filtrar por clase de expediente</strong>
                                </div>
                                <div class="col-md-6">
                                    <label for="input2" class="text">Tipo de archivo</label>
                                    <TelerikDropDownList Data="@seriesList"
                                                         ValueField="SeriesId"
                                                         Value="@idSerie"
                                                         TextField="Name"
                                                         ValueChanged="@( (int newValue) => GetSubSeries(newValue) )"
                                                         Filterable="true"
                                                         DefaultText="Tipo de archivo">
                                    </TelerikDropDownList>
                                </div>
                                <div class="col-md-6">
                                    <label for="input2" class="text">Clase EXP</label>
                                    <TelerikDropDownList Data="@seriesList"
                                                         ValueField="SeriesId"
                                                         Value="@idSerie"
                                                         TextField="Name"
                                                         ValueChanged="@( (int newValue) => GetSubSeries(newValue) )"
                                                         Filterable="true"
                                                         DefaultText="Clase EXP">
                                    </TelerikDropDownList>
                                </div>
                                <div class="col-md-6">
                                    <label for="input2" class="text">Sub clase EXP</label>
                                    <TelerikDropDownList Data="@seriesList"
                                                         ValueField="SeriesId"
                                                         Value="@idSerie"
                                                         TextField="Name"
                                                         ValueChanged="@( (int newValue) => GetSubSeries(newValue) )"
                                                         Filterable="true"
                                                         DefaultText="Sub clase EXP">
                                    </TelerikDropDownList>
                                </div>
                            </div>
                        </TabStripTab>
    
                        <TabStripTab Title="Resultado de consulta">
                    <TelerikGrid Data="Data" PageSize="10"
                                 Sortable="true"
                                 FilterMode="GridFilterMode.FilterMenu"
                                 Resizable="true"
                                 Reorderable="true"
                                 EditMode="GridEditMode.Popup"
                                 SelectionMode="GridSelectionMode.None">
                        <GridColumns>
                            <GridCommandColumn Width="80px" Title="Acciones" HeaderClass="center-wrap" Visible="true">
                                @* <GridCommandButton Icon="@SvgIcon.FormElement" Title="Detalles" OnClick="@((args)=> ShowModalEdit(args.Item as PermissionDtoResponse))"></GridCommandButton> *@
                                <GridCommandButton Icon="@SvgIcon.FormElement" Title="Detalles"></GridCommandButton>
                            </GridCommandColumn>

                            <GridColumn Field="Category"Title="Orden" Width="150px" Filterable="true"TextAlign="ColumnTextAlign.Center"HeaderClass="center-wrap" />
                            <GridColumn Field="Value" Title="ID Expediente" Width="150px" Filterable="true" TextAlign="ColumnTextAlign.Center" HeaderClass="center-wrap" />
                            <GridColumn Field="Value" Title="Cantidad" Width="150px" Filterable="true" TextAlign="ColumnTextAlign.Center" HeaderClass="center-wrap" />
                            <GridColumn Field="Value" Title="Información" Width="150px" Filterable="true" TextAlign="ColumnTextAlign.Center" HeaderClass="center-wrap" />

                        </GridColumns>
                        <NoDataTemplate>
                            <strong>No Data available / The data is still loading...</strong>
                        </NoDataTemplate>
                    </TelerikGrid>
                        </TabStripTab>

                    </TelerikTabStrip>
                
                <ModalNotificationsComponent @ref="notificationModal" OnModalClosed="HandleModalNotiClose"></ModalNotificationsComponent>
       
        </GenericModalComponent>
    </TelerikRootComponent>
</div>