@inherits LayoutComponentBase

<html>

<body id="menulayaout">

    <header>

        <!--Contenido de Menú Horizontal-->
        <nav id="NavHorizontal" class="navbar navbar-expand-lg navbar-light bg-light p-2 fixed-top Border-Nav">
            <div class="container-fluid d-flex justify-content-between p-0">
                <!-- Logo y otros elementos del header -->
                <a class="navbar-brand" href="#">
                    <img src="../img/logocontrol.svg" alt="Logo" class="navbar-logo" />
                </a>
                <div class="d-flex align-items-center">
                    <!-- Bloque del usuario -->
                    

                    <UserComponent UserImage="../img/usuario.png" UserName="PruebaH"></UserComponent>
                    <TelerikRootComponent>
                        <DropDownLanguageComponent />
                    </TelerikRootComponent>
                    
                    <div class="dropdown">
                        <a href="#" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="../img/iconotrespuntos.svg" alt="Más opciones" class="dots-icon ms-3" />
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item">Perfil</a>
                            <a class="dropdown-item">Configuración</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Cerrar Sesión</a>
                        </div>
                    </div>
                    <button class="switch-darkmode" id="switch" @onclick="ToggleTheme">
                        <span><i class="fas fa-sun"></i></span>
                        <span><i class="fas fa-moon"></i></span>
                    </button>
                </div>
            </div>
        </nav>

        <!--Contenido de Menú Vertical-->
        <div id="contenerdor-nav">

            <nav id="NavVertical">

                <ul>
                    <li>
                        <a class="nav-link" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only" @onclick="ToggleNewMenu">
                            <img src="@ThreeLinesImage" alt="Logo" class="fs-1" />
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home"
                           @onmouseover="() => OnMouseOver(ref HomeImage)" @onmouseout="() => OnMouseOut(ref HomeImage)">
                            <img src="@HomeImage" alt="Inicio" class="fs-1" />
                            <span>Inicio</span>
                        </a>
                    </li>
                    <li @onmouseover="() => OnMouseOverWithSubItem(ref FilingImage, ref subNavFiling)" @onmouseout="() => OnMouseOutWithSubItem(ref FilingImage, ref subNavFiling)">
                        <a class="nav-link" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                            <img src="@FilingImage" alt="Radicacion" class="fs-1" />
                            <span>Radicación</span>
                        </a>
                        <div id="imageBox" class="d-flex @subNavFiling flex-column justify-content-between image-container shadow-sm bg-white rounded">
                            <!-- Primera fila con tres imágenes -->
                            <div class="d-flex flex-row m-2 gap-1">
                                <div class="col " @onclick="() => OnNavitigionMenu(FilingReceivedPage)">
                                    
                                        <img src="@FilingReceived" alt="Radicacion" class="fs-1" />
                                        <span>Radicación Ventanilla Recibida</span>
                                    
                                    
                                </div>
                                <div class="col">
                                    <img src="@FilingInternal" alt="Otra" class="fs-1" />
                                    <span>Radicación Ventanilla Interna</span>
                                </div>
                                <div class="col">
                                    <img src="@Filingsent" alt="Tercera" class="fs-1" />
                                    <span>Radicación Ventanilla Enviada</span>
                                </div>
                            </div>
                            <!-- Segunda fila con dos imágenes -->
                            <div class="d-flex flex-row mt-2 mb-2">
                                <div class="col">
                                    <img src="@FilingUnofficial" alt="Cuarta" class="fs-1" />
                                    <span>Radicación Ventanilla No oficial</span>
                                </div>
                                <div class="col">
                                    <img src="@FilingFaster" alt="Quinta" class="fs-1" />
                                    <span>Radicación Ventanilla Rápida</span>
                                </div>
                                
                            </div>
                        </div>

                    </li>
                    <li @onmouseover="() => OnMouseOverWithSubItem(ref ManagementImage, ref subNavManagement)" @onmouseout="() => OnMouseOutWithSubItem(ref ManagementImage,ref subNavManagement)">
                        <a class="nav-link" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home"
                        >
                            <img src="@ManagementImage" alt="Gestion" class="fs-1" />
                            <span>Gestión</span>
                        </a>
                        <div id="imageBox" class="d-flex @subNavManagement flex-column justify-content-between image-container shadow-sm bg-white rounded">
                            <!-- Primera fila con tres imágenes -->
                            <div class="d-flex flex-row m-2 gap-3">
                                <div class="col " @onclick="() => OnNavitigionMenu(ManagementTrayPage)">
                                    
                                        <img src="@ManagementTray" alt="Radicacion" class="fs-1" />
                                        <span>Bandeja de gestión</span>
                                    
                                    
                                </div>
                                <div class="col">
                                    <img src="@ManagementBoard" alt="Otra" class="fs-1" />
                                    <span>Tablero de Control</span>
                                </div>
                                
                            </div>
                            
                        </div>
                    </li>
                    <li @onmouseover="() => OnMouseOverWithSubItem(ref DocumentaryTasksImage, ref subNavDocumentaryTasks)" @onmouseout="() => OnMouseOutWithSubItem(ref DocumentaryTasksImage, ref subNavDocumentaryTasks)">
                        <a class="nav-link" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                            <img src="@DocumentaryTasksImage" alt="TareasDocumentales" class="fs-1" />
                            <span>Tareas</span>
                            <span>Documentales</span>
                        </a>
                        <div id="imageBox" class="d-flex @subNavDocumentaryTasks flex-column justify-content-between image-container shadow-sm bg-white rounded">
                            <!-- Primera fila con tres imágenes -->
                            <div class="d-flex flex-row m-2 gap-3">
                                <div class="col ">
                                    
                                    <img src="@DocumentaryTasksEditor" alt="Radicacion" class="fs-1" />
                                    <span>Editor de Texto</span>
                                </div>
                                <div class="col">
                                    <img src="@DocumentaryTasksSpreadsheet" alt="Otra" class="fs-1" />
                                    <span>Hoja de Cálculo</span>
                                </div>
                                <div class="col" @onclick="() => OnNavitigionMenu(DocumentaryTaskPage)">

                                        <img src="@DocumentaryTasksTray" alt="Otra" class="fs-1" />
                                        <span>Bandeja de Tareas</span>

                                </div>

                            </div>

                        </div>

                    </li>
                    <li>
                        <a class="nav-link" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home"
                           @onmouseover="() => OnMouseOver(ref RecordImage)" @onmouseout="() => OnMouseOut(ref RecordImage)">
                            <img src="@RecordImage" alt="Expedientes" class="fs-1" />
                            <span>Expedientes</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard"
                           @onmouseover="() => OnMouseOver(ref SearchersImage)" @onmouseout="() => OnMouseOut(ref SearchersImage)">
                            <img src="@SearchersImage" alt="Buscadores" class="fs-1" />
                            <span>Buscadores</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders"
                           @onmouseover="() => OnMouseOver(ref BpmImage)" @onmouseout="() => OnMouseOut(ref BpmImage)">
                            <img src="@BpmImage" alt="Bpm" class="fs-1" />
                            <span>BPM</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers"
                           @onmouseover="() => OnMouseOver(ref EnvironmentalImpactImage)" @onmouseout="() => OnMouseOut(ref EnvironmentalImpactImage)">
                            <img src="@EnvironmentalImpactImage" alt="ImpactoAmbiental" class="fs-1" />
                            <span>Impacto</span>
                            <span>Ambiental</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only"
                           @onmouseover="() => OnMouseOver(ref LogoutImage)" @onmouseout="() => OnMouseOut(ref LogoutImage)">
                            <img src="@LogoutImage" alt="CerrarSesion" class="fs-1" />
                            <span>Cerrar</span>
                            <span>sesión</span>
                        </a>
                    </li>
                </ul>


            </nav>

            <!-- Contenido de SubMenu Vertical-->
            <div id="SubMenu" class="style-submenu submenu @(showNewMenu ? "show-submenu" : "") h-100">
                <!-- Contenido específico del submenu -->
                @*<SubMenu />*@
                <div class="col-md-12 h-100 p-0">

                    <!-- Contenedor principal con estilos de Bootstrap-->
                    <div class="rounded-right h-100 p-3 d-flex flex-column overflow-auto main-container-menu">

                        <ul class="list-unstyled options menu-text-left pl-1">

                            <!-- Se recorre una lista de tipo Menu, que contiene los menus que hay en BD -->
                            @foreach (var menuModels in MenusModels)
                            {
                                <li>
                                    <div class="option-header">

                                        <!--
                                            Este boton se utiliza para desplegar los niveles del menu seleccionado, tiene el
                                            ToggleSubMenu (Abre el menu seleccionado y cierra otro menu que pudiera estar abierto
                                            anteriormente), IsExpanded(Se revisa si ya anteriormente esta expandido)
                                        -->

                                        <button @onclick="() => ToggleSubMenu(menuModels.MenuId, 1,string.Empty)" class="btn text-left w-100 @((IsExpanded(menuModels.MenuId, 1) ? "main-button" : "")) menu-option my-1">

                                            <!--
                                                Informacion del menu (el contenedor de los subniveles)
                                            -->
                                            <div class="d-flex align-items-center justify-content-between">

                                                <!--
                                                    Aqui se encuentra el nombre del menu
                                                -->
                                                <div class="d-flex align-items-center">
                                                    <img src="../img/menu/@(menuModels.Icon).svg" class="d-inline-block icon-menu" />
                                                    <span class="text-wrap text-color d-inline-block ml-2 levels">@menuModels.Name</span>
                                                </div>
                                                <!--
                                                    Aqui se encuentra el svg/boton de despliegue es una flecha que dependiendo si un
                                                    menu esta desplegado estara mirando hacia arriba y si un menu no esta desplegado
                                                    estara mirando hacia abajo
                                                -->
                                                <div>
                                                    <i class="ml-auto">
                                                        <!--
                                                            HasSubMenuItems ayuda a revisar si el menu tiene opciones/subniveles
                                                        -->
                                                        @if (HasSubMenuItems(menuModels))
                                                        {
                                                            <i>
                                                                <!--
                                                                    Una vez revisado si tiene opciones se revisa si el menu esta expandido
                                                                    para colocar el svg/boton de despliegue dependiendo de su estado
                                                                -->
                                                                @if (IsExpanded(menuModels.MenuId, 1))
                                                                {
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                                                                        <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                                                                    </svg>
                                                                }
                                                                else
                                                                {
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                                                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                                                                    </svg>
                                                                }
                                                            </i>
                                                        }
                                                    </i>
                                                </div>
                                            </div>

                                        </button>
                                    </div>

                                    <!--
                                        Desde aca se empezaran a ver observar o manejar la parte de visualizar los niveles del menu, dependiendo si
                                        este tiene niveles/opciones
                                    -->
                                    <div class="collapse @(IsExpanded(menuModels.MenuId, 1) ? "show" : "collapse") text-dark">

                                        <!--
                                           HasSubMenuItems ayuda a revisar si el menu tiene opciones/subniveles
                                        -->
                                        @if (HasSubMenuItems(menuModels))
                                        {
                                            <ul class="list-unstyled sub-options pl-2">

                                                <!-- Se recorre una coleccion de MenuItems1s, la cual son opciones de nivel 1 pertenecientes a un menu -->
                                                @foreach (var menuItem1 in menuModels.MenuItems1s)
                                                {
                                                    <li>
                                                        <div class="sub-option-header">

                                                            <!--
                                                                Este boton se utiliza para desplegar los niveles de la opcion de nivel 1 seleccionado, tiene el
                                                                ToggleSubMenu (Abre la opcion seleccionada y cierra otra opcion de su mismo nivel que pudiera estar
                                                                abierta anteriormente), IsExpanded(Se revisa si ya anteriormente esta expandida)
                                                            -->
                                                            <button @onclick="() => ToggleSubMenu(menuItem1.MenuItem1Id, 2,menuItem1.View?.Name)" class="btn text-left w-100 @((IsExpanded(menuItem1.MenuItem1Id, 2) ? "btn-selected" : "")) sub-option @(HasSubMenuItems(menuItem1) ? "btn-selected-with-options" : "btn-without-options")">
                                                                <!--
                                                                    Informacion de la opcion de nivel 1
                                                                    <p>
                                                                        menuItem1.View.Name.ToString()
                                                                    </p>
                                                                -->

                                                                <div class="d-flex align-items-center justify-content-between">
                                                                    <!--
                                                                        Aqui se encuentra el nombre de la opcion de nivel 1
                                                                    -->
                                                                    <div class="d-flex align-items-center">
                                                                        <span class="text-wrap text-color-sub d-inline-block ml-2 levels">@menuItem1.Name</span>
                                                                    </div>
                                                                    <!--
                                                                        Aqui se encuentra el svg/boton de despliegue es una flecha que dependiendo si el
                                                                        nivel esta desplegado estara mirando hacia arriba y si no esta desplegado
                                                                        estara mirando hacia abajo
                                                                    -->
                                                                    <div>
                                                                        <i class="ml-auto">
                                                                            <!--
                                                                               HasSubMenuItems ayuda a revisar si el nivel 1 tiene opciones/subniveles
                                                                            -->
                                                                            @if (HasSubMenuItems(menuItem1))
                                                                            {
                                                                                <i>
                                                                                    <!--
                                                                                        Una vez revisado si tiene opciones se revisa si la opcion de nivel 1
                                                                                        esta expandido para colocar el svg/boton de despliegue dependiendo
                                                                                        de su estado
                                                                                    -->
                                                                                    @if (IsExpanded(menuItem1.MenuItem1Id, 2))
                                                                                    {
                                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                                                                                            <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                                                                                        </svg>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                                                                            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                                                                                        </svg>
                                                                                    }
                                                                                </i>
                                                                            }
                                                                        </i>
                                                                    </div>
                                                                </div>
                                                            </button>
                                                        </div>

                                                        <!--
                                                            Se revisa si la opcion de nivel 1 esta desplegada
                                                        -->
                                                        <div class="@(IsExpanded(menuItem1.MenuItem1Id, 2) ? "show" : "collapse") text-dark">

                                                            <!--
                                                               HasSubMenuItems ayuda a revisar si el nivel 1 tiene opciones/subniveles
                                                            -->
                                                            @if (HasSubMenuItems(menuItem1))
                                                            {
                                                                <ul class="list-unstyled sub-options pl-3">
                                                                    <!--
                                                                        Se recorre una coleccion de MenuItems2s, la cual son opciones de nivel 2
                                                                        pertenecientes a la opcion de nivel 1
                                                                    -->
                                                                    @foreach (var menuItem2 in menuItem1.MenuItems2s)
                                                                    {
                                                                        <li>
                                                                            <div class="sub-option-header">
                                                                                <!--
                                                                                    Este boton se utiliza para desplegar los niveles de la opcion de nivel 2 seleccionado, tiene el
                                                                                    ToggleSubMenu (Abre la opcion seleccionada y cierra otra opcion de su mismo nivel que pudiera estar
                                                                                    abierta anteriormente), IsExpanded(Se revisa si ya anteriormente esta expandida)
                                                                                -->
                                                                                <button @onclick="() => ToggleSubMenu(menuItem2.MenuItem2Id, 3, menuItem2.View.Name)" class="btn text-left w-100 @((IsExpanded(menuItem2.MenuItem2Id, 3) ? "btn-selected" : "")) sub-option @(HasSubMenuItems(menuItem2) ? "btn-selected-with-options" : "btn-without-options")">
                                                                                    <!--
                                                                                        Informacion de la opcion de nivel 2
                                                                                    -->
                                                                                    <div class="d-flex align-items-center justify-content-between">
                                                                                        <!--
                                                                                            Aqui se encuentra el nombre de la opcion de nivel 2
                                                                                        -->
                                                                                        <div class="d-flex align-items-center">
                                                                                            <span class="text-wrap text-color-sub d-inline-block ml-2 levels">@menuItem2.Name</span>
                                                                                        </div>
                                                                                        <!--
                                                                                            Aqui se encuentra el svg/boton de despliegue es una flecha que dependiendo si el
                                                                                            nivel esta desplegado estara mirando hacia arriba y si no esta desplegado
                                                                                            estara mirando hacia abajo
                                                                                        -->
                                                                                        <div>
                                                                                            <i class="ml-auto">
                                                                                                <!--
                                                                                                   HasSubMenuItems ayuda a revisar si el nivel 2 tiene opciones/subniveles
                                                                                                -->
                                                                                                @if (HasSubMenuItems(menuItem2))
                                                                                                {
                                                                                                    <i>
                                                                                                        <!--
                                                                                                            Una vez revisado si tiene opciones se revisa si la opcion de nivel 2
                                                                                                            esta expandido para colocar el svg/boton de despliegue dependiendo
                                                                                                            de su estado
                                                                                                        -->
                                                                                                        @if (IsExpanded(menuItem2.MenuItem2Id, 3))
                                                                                                        {
                                                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                                                                                                                <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                                                                                                            </svg>
                                                                                                        }
                                                                                                        else
                                                                                                        {
                                                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                                                                                                                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                                                                                                            </svg>
                                                                                                        }
                                                                                                    </i>
                                                                                                }
                                                                                            </i>
                                                                                        </div>
                                                                                    </div>

                                                                                </button>
                                                                            </div>
                                                                            <!--
                                                                                Se revisa si la opcion de nivel 2 esta desplegada
                                                                            -->
                                                                            <div class="@(IsExpanded(menuItem2.MenuItem2Id, 3) ? "show" : "collapse") text-dark">
                                                                                <!--
                                                                                   HasSubMenuItems ayuda a revisar si el nivel 2 tiene opciones/subniveles
                                                                                -->
                                                                                @if (HasSubMenuItems(menuItem2))
                                                                                {
                                                                                    <ul class="list-unstyled sub-options pl-4">
                                                                                        <!--
                                                                                            Se recorre una coleccion de MenuItems3s, la cual son opciones de nivel 3
                                                                                            pertenecientes a la opcion de nivel 2
                                                                                        -->
                                                                                        @foreach (var menuItem3 in menuItem2.MenuItems3s)
                                                                                        {
                                                                                            <li>
                                                                                                <div class="sub-option-header">
                                                                                                    <!--
                                                                                                        Este boton se utiliza para seleccionar una opcion de nivel 3, hay que recordar que actualmente
                                                                                                        se maneja que los menus pueden tener 3 niveles tiene el ToggleSubMenu (Abre la opcion seleccionada
                                                                                                        y cierra otra opcion de su mismo nivel que pudiera estar seleccionada anteriormente),
                                                                                                        IsExpanded(Se revisa si ya anteriormente esta expandida) pero aqui por ahora lo estamos usando para
                                                                                                        que se denote el boton como seleccionado, esto sera asi hasta que se manejen los hijos
                                                                                                    -->
                                                                                                    <button class="btn text-left w-100 sub-option btn-without-options @(IsExpanded(menuItem3.MenuItem3Id, 4) ? "btn-selected" : "")" @onclick="() => ToggleSubMenu(menuItem3.MenuItem3Id, 4,menuItem3.View.Name)">
                                                                                                        <!--
                                                                                                            Informacion de la opcion de nivel 3
                                                                                                        -->
                                                                                                        <div class="d-flex align-items-center justify-content-between">
                                                                                                            <!--
                                                                                                                Aqui se encuentra el nombre de la opcion de nivel 3
                                                                                                            -->
                                                                                                            <div class="d-flex align-items-center">
                                                                                                                <span class="text-wrap text-color-sub d-inline-block ml-2 levels">@menuItem3.Name</span>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </button>
                                                                                                </div>
                                                                                            </li>
                                                                                        }
                                                                                    </ul>
                                                                                }
                                                                            </div>
                                                                        </li>
                                                                    }
                                                                </ul>
                                                            }
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                    </div>
                                </li>
                            }
                        </ul>

                    </div>
                </div>

            </div>

        </div>

    </header>

    <main class="padding-main">

        <!-- Contenido principal/Hijo -->
        <TelerikRootComponent>
            <div class="container-main-body">
                @Body
            </div>
        </TelerikRootComponent>
        <ControlDoc.FrondEnd.Shared.GlobalComponents.Spinner.SpinnerCargandoComponent @ref="spinerLoader"></ControlDoc.FrondEnd.Shared.GlobalComponents.Spinner.SpinnerCargandoComponent>
    </main>

    <footer class="footer-custom">
        <div class="container">
            <p class="footer-text m-0">
                <a href="#" class="text-politicas">@DropDownLanguageComponent.GetText("Politicas")</a> @DropDownLanguageComponent.GetText("TerminosyCondiciones")
            </p>
        </div>
    </footer>

    @* <footer>
    <div class="container">
    <p class="footer-text m-0">
    <a href="#" class="text-dark">@DropDownLanguageComponent.GetText("Politicas")</a> @DropDownLanguageComponent.GetText("TerminosyCondiciones")
    </p>
    </div>
    </footer> *@

</body>
</html>
