@using ControlDoc.Models.Models.Documents.Response;

<div class="my-modal">
    <TelerikRootComponent>
        <GenericModalComponent Title="@title" IsVisible="modalStatus" Width="80%" OnModalClosed="HandleModalClosed">
            <ChildContent>
                <div class="pb-2 px-4">
                    <div class="row m-0 pb-10">
                        <!-- dropdowns encargados de filtra la busqueda -->
                        <div class="col-md-3 mt-4">
                            <label for="input2" style="margin-bottom:6px;">Version documental <span class="darkred">*</span></label>
                            <TelerikDropDownList Data="@docVersionList"
                                                 ValueField="DocumentalVersionId"
                                                 Value="@idDocVersion"
                                                 TextField="Name"
                                                 ValueChanged="@( (int newValue) => GetAdministrativeUnits(newValue) )"
                                                 Filterable="true"
                                                 DefaultText="Versiones documentales">
                            </TelerikDropDownList>
                        </div>

                        <div class="col-md-3 mt-4">
                            <label for="input2" style="margin-bottom:6px;">Unidad Administrativa <span class="darkred">*</span></label>
                            <TelerikDropDownList Data="@adminUnitList"
                                                 ValueField="AdministrativeUnitId"
                                                 Value="@idAdminUnit"
                                                 TextField="Name"
                                                 ValueChanged="@( (int newValue) => GetProducOffice(newValue) )"
                                                 Enabled="isEnableAdminUnit"
                                                 Filterable="true"
                                                 DefaultText="Unidades Administrativas">
                            </TelerikDropDownList>
                        </div>
                        <div class="col-md-3 mt-4">
                            <label for="input2" style="margin-bottom:6px;">Officina <span class="darkred">*</span></label>
                            <TelerikDropDownList Data="@proOfficesList"
                                                 ValueField="ProductionOfficeId"
                                                 Value="@idProOffice"
                                                 TextField="Name"
                                                 ValueChanged="@( (int newValue) => GetSeries(newValue) )"
                                                 Enabled="isEnableProOffice"
                                                 Filterable="true"
                                                 DefaultText="Officinas">
                            </TelerikDropDownList>
                        </div>
                        <div class="col-md-3 mt-4">
                            <label for="input2" style="margin-bottom:6px;">Serie documental</label>
                            <TelerikDropDownList Data="@seriesList"
                                                 ValueField="SeriesId"
                                                 Value="@idSerie"
                                                 TextField="Name"
                                                 ValueChanged="@( (int newValue) => GetSubSeries(newValue) )"
                                                 Enabled="isEnableSerie"
                                                 Filterable="true"
                                                 DefaultText="Series documentales">
                            </TelerikDropDownList>
                        </div>
                    </div>
                    <div class="row m-0 pb-10">
                        <!-- dropdowns encargados de filtra la busqueda y el boton -->
                        <div class="col-md-3 mt-4">
                            <label for="input2" style="margin-bottom:6px;">Sub-Serie documental</label>
                            <TelerikDropDownList Data="@subSeriesList"
                                                 ValueField="SubSeriesId"
                                                 Value="@idSubSerie"
                                                 TextField="Name"
                                                 ValueChanged="@( (int newValue) => GetDocTypologiesBySubSerieId(newValue) )"
                                                 Enabled="isEnableSubSerie"
                                                 Filterable="true"
                                                 DefaultText="Sub-Series documentales">
                            </TelerikDropDownList>
                        </div>
                        <div class="col-md-3 mt-4">
                            <label for="input2" style="margin-bottom:6px;">Tipología documental</label>
                            <TelerikDropDownList Data="@docTypologiesList"
                                                 ValueField="DocumentaryTypologyId"
                                                 Value="@idDocTypologies"
                                                 TextField="TypologyName"
                                                 ValueChanged="@((int newValue) => idDocTypologies = newValue)"
                                                 Enabled="isEnableDocTypology"
                                                 Filterable="true"
                                                 DefaultText="Tipologías documentales">
                            </TelerikDropDownList>
                        </div>
                        <div class="col-md-3 mt-4">
                            <InputModalComponent @ref="typologyNameInput" LabelText="Busqueda manual" Placeholder="Nombre de tipologia" IsVisible="isVisibleTypologyNameInput"></InputModalComponent>
                        </div>
                        <div class="col-md-3 mb-2 align-self-end">
                            <button class="btn btn-primary btn-lg btn-block btn-style" type="button" onclick="@OnClickButton" disabled="@(isEnableButton)">Buscar</button>
                        </div>
                    </div>
                    <div class="row m-0 pb-10">
                        <!-- grilla donde se muestran las tipologias documentales -->
                        <TelerikGrid Data="@docTypologyList"
                                     Sortable="true"
                                     Resizable="false"
                                     ScrollMode="@GridScrollMode.Scrollable"
                                     Height="480px"
                                     RowHeight="60"
                                     Reorderable="true">
                                <GridColumns>
                                    <GridColumn Width="10%">
                                        <HeaderTemplate>
                                        <label> Selección </label>
                                        </HeaderTemplate>
                                        <Template>
                                            @{
                                                var docTypologySelected = context as VDocumentaryTypologyResponse;

                                                <div class="mt-5">
                                                    <TelerikCheckBox @bind-Value="@docTypologySelected.Selected" OnChange="@(() => SelectDocTypology(docTypologySelected))">
                                                    </TelerikCheckBox>
                                                </div>
                                            }
                                        </Template>
                                    </GridColumn>
                                    <GridColumn>
                                        <HeaderTemplate>
                                            <label> Tipologías documentales </label>
                                        </HeaderTemplate>
                                        <Template>
                                            @{
                                                var docTypologySelected = context as VDocumentaryTypologyResponse;

                                            <div class="row">
                                                    <div class="col">
                                                        <div class="row">
                                                            <label><b>Tipología documental:</b> @docTypologySelected?.TypologyName</label>
                                                        </div>
                                                        <div class="row">
                                                            <label> <b>Version documental:</b> @docTypologySelected?.DocumentalVersionName</label>
                                                        </div>
                                                        <div class="row">
                                                            <label> <b>Unidad Administrativa:</b> @docTypologySelected?.AdministrativeUnitName</label>
                                                        </div>
                                                        <div class="row">
                                                            <label><b>Oficina productora:</b> @docTypologySelected?.ProductionOfficeName</label>
                                                        </div>
                                                        <div class="row">
                                                            <label><b>Serie:</b> @docTypologySelected?.SeriesName</label>
                                                        </div>
                                                        <div class="row">
                                                            <label><b>Sub-Serie:</b> @docTypologySelected?.SubSeriesName</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </Template>
                                    </GridColumn>
                                    <GridColumn>
                                        <HeaderTemplate>
                                            <label> Gestor </label>
                                        </HeaderTemplate>
                                        <Template>
                                            @{
                                                var docTypologySelected = context as VDocumentaryTypologyResponse;
                                                <div class="card card-gestor">
                                                    <div class="row d-flex align-items-center">
                                                        <div class="col-md-2">
                                                            <i class="bi bi-person-circle" style="font-size: 50px"></i>
                                                        </div>
                                                        <div class="col">
                                                            <div class="row">
                                                                <label><b>Nombre:</b> @docTypologySelected?.LmfullName</label>
                                                            </div>
                                                            <div class="row">
                                                                <label> <b>Unidad Administrativa:</b> @docTypologySelected?.LmadministrativeUnitName</label>
                                                            </div>
                                                            <div class="row">
                                                                <label> <b>Oficina Productora:</b> @docTypologySelected?.LmproductionOfficeName</label>
                                                            </div>
                                                            <div class="row">
                                                                <label> <b>Cargo:</b> @docTypologySelected?.LmadministrativeUnitName</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </Template>
                                    </GridColumn>
                                </GridColumns>
                        </TelerikGrid>
                    </div>
                </div>
            </ChildContent>
        </GenericModalComponent>
    </TelerikRootComponent>
    <ModalNotificationsComponent @ref="notificationModal" OnModalClosed="HandleModalNotiClose"></ModalNotificationsComponent>
</div>

<style>
    .k-checkbox.k-rounded-md {
        border-color: #2196F3;
    }
</style>