<div id="dropdown2">
    @* <button class="btn dropdown-toggle dropdown-style active" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"> *@
   @*  <button class="btn dropdown-toggle active" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: transparent; color: @TextColor; font-size: @TextSize; border: none;">
        @GetText("DropDownIdioma")
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item custom-dropdown-item" @onclick="() => LanguageSelected(Language.ES)">@GetText("DropDownEspañol")</a></li>
        <li><a class="dropdown-item custom-dropdown-item" @onclick="() => LanguageSelected(Language.EN)">@GetText("DropDownIngles")</a></li>
        <li><a class="dropdown-item custom-dropdown-item" @onclick="() => LanguageSelected(Language.IT)">@GetText("DropDownItaliano")</a></li>
        <li><a class="dropdown-item custom-dropdown-item" @onclick="() => LanguageSelected(Language.FR)">@GetText("DropDownFrances")</a></li>

    </ul> *@
    <TelerikDropDownList Data="@languageDtoResponses"
                         Value="@CodeLanguage"
                         Id=""
                         DefaultText="@DefaultText"
                         TextField="NameTraslated"
                         ValueField="CodeLanguage"
                         Filterable="true"
                         ValueChanged="@((string Value) => ChangeLanguage(Value ))"
                         FilterOperator="StringFilterOperator.Contains">
    </TelerikDropDownList>
</div>

<style>
    #dropdown2 .k-picker-solid {
        background-color: transparent !important;

    }

    #dropdown2 .k-input, #dropdown2 .k-picker {
        
        border-style : none !important;
    } 

</style>


