@using ControlDoc.Models.Models.Administration.Response;
@using ControlDoc.Models.Models.Administration.Request;

<div class="my-modal">
    <TelerikRootComponent>

        <GenericModalComponent Title="Administración - Dirección" IsVisible=ModalStatus Width="50%" OnModalClosed="HandleModalClosed">
            <ChildContent>
                <EditForm Model="@addressDtoRequest" OnInvalidSubmit="HandleValidSubmit">
                <div class="container">
                    <!-- Parte Izquierda: Input y Label -->
                    <div class="col-md-7 col-sm-12">
                        <div class="input-container">
                            <label for="input1">Dirección</label>
                        </div>
                        <div class="input-container">
                            <textarea class="w-100 address-container" id="direccion" name="direccion" placeholder="" @bind="address" @oninput="ActualizarDireccion" readonly></textarea>
                        </div>
                    </div>
                    <!-- Parte Derecha: Dos Botones -->
                    <div class="col-md-4 pt-4 buttons-save-and-clean">
                        <div class="text-end">
                                <button class="botones limpiar" type="button" @onclick="ResetFormAsync">Limpiar</button>
                                <button class="botones guardar" type="submit" @onclick="Save">Guardar</button>
                        </div>
                    </div>
                </div>

                <div class="container mt-5">
                    <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">


                        <!-- Primera fila con un DropDownList, "St Number" y "St Letter" -->
                            <div class="row mt-3 w-100">
                            <div class="col-md-4">
                                <div class="cuadro-info">
                                    <div class="input-container">
                                        <label for="input2" class="mb-2">Via<span class="darkred">*</span></label>
                                    </div>
                                    <div class="input-container">
                                        <TelerikDropDownList Data="@scTypeList"
                                        @bind-Value="@stType"
                                                             Id="stType"
                                                             DefaultText="@textStType"
                                                             TextField="value"
                                                             ValueField="code"
                                                             Filterable="true"
                                                             OnChange="ActualizarDireccion"
                                                             FilterOperator="StringFilterOperator.Contains">
                                        </TelerikDropDownList>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="cuadro-info">
                                        <InputModalComponent IsVisible=true @ref="stNumber" @bind-InputValue="addressDtoRequest.StNumber" MethodValueChanged="ActualizarDireccion" IsRequired="false" LabelText="St Número" Placeholder="St Número" FieldType="ValidationType.NumbersOnly" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="cuadro-info">
                                        <InputModalComponent IsVisible=true @ref ="stLetter" @bind-InputValue="addressDtoRequest.StLetter" MethodValueChanged="ActualizarDireccion" IsRequired="false" LabelText="St Letra" Placeholder="St Letra" FieldType="ValidationType.Name" />
                                </div>
                            </div>
                        </div>

                        <!-- Segunda fila con tres inputs llamados "BIS", "St Complement" y "St Cardinality" -->
                            <div class="row mt-3 w-100">
                            <div class="col-md-4">
                                <div class="cuadro-info">
                                    <div class="input-container">
                                            <label for="bisInput2" class="mb-2">St BIS</label>
                                    </div>
                                    <div class="input-container">
                                            <label> <TelerikSwitch @bind-Value="@stBis" OnChange="ActualizarDireccion"/>  @(stBis ? "Activo" : "Inactivo")</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="cuadro-info">
                                        <InputModalComponent IsVisible=true @ref ="stComplement" @bind-InputValue="addressDtoRequest.StComplement" MethodValueChanged="ActualizarDireccion" IsRequired="false" LabelText="St Complemento" Placeholder="St Complemento" FieldType="ValidationType.Name" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="cuadro-info">
                                        
                                        <div class="input-container">
                                            <label for="input2" class="mb-2">St Cardinalidad<span class="darkred">*</span></label>
                                        </div>
                                        <div class="input-container">
                                            <TelerikDropDownList Data="@cardinalityList"
                                                                 @bind-Value="@stCardinality"
                                                                 Id="stCardinality"
                                                                 DefaultText="@textStCardinality"
                                                                 TextField="value"
                                                                 ValueField="code"
                                                                 Filterable="true"
                                                                 OnChange="ActualizarDireccion"
                                                                 FilterOperator="StringFilterOperator.Contains">
                                            </TelerikDropDownList>
                                        </div>
                                </div>
                            </div>
                        </div>

                        <!-- Tercer fila con un DropDownList, "Cr Number" y "Cr Letter" -->
                        <div class="row mt-3 w-100">
                            <div class="col-md-4">
                                <div class="cuadro-info">
                                        <div class="input-container">
                                            <label for="input2" class="mb-2">Via<span class="darkred">*</span></label>
                                        </div>
                                        <div class="input-container">
                                            <TelerikDropDownList Data="@scTypeList"
                                            @bind-Value="@crType"
                                                                 Id="crType"
                                                                 DefaultText="@textCrType"
                                                                 TextField="value"
                                                                 ValueField="code"
                                                                 Filterable="true"
                                                                 OnChange="ActualizarDireccion"
                                                                 FilterOperator="StringFilterOperator.Contains">
                                            </TelerikDropDownList>
                                        </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="cuadro-info">
                                        <InputModalComponent IsVisible=true @ref ="crNumber" @bind-InputValue="addressDtoRequest.CrNumber" MethodValueChanged="ActualizarDireccion" IsRequired="false" LabelText="Cr Número" Placeholder="Cr Número" FieldType="ValidationType.NumbersOnly" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="cuadro-info">
                                        <InputModalComponent IsVisible=true @ref ="crLetter" @bind-InputValue="addressDtoRequest.CrLetter" MethodValueChanged="ActualizarDireccion" IsRequired="false" LabelText="Cr Letra" Placeholder="Cr Letra" FieldType="ValidationType.Name" />
                                </div>
                            </div>
                        </div>

                        <!-- Cuarta fila con tres inputs llamados "BIS", "Cr Complement" y "Cr Cardinality" -->
                        <div class="row mt-3 w-100">
                            <div class="col-md-4">
                                <div class="cuadro-info">
                                    <div class="input-container">
                                            <label for="bisInput2" class="mb-2">Cr BIS</label>
                                    </div>
                                    <div class="input-container">

                                            <label class="mb-2">
                                                <TelerikSwitch @bind-Value="@crBis" OnChange="ActualizarDireccion" />  @(crBis ? "Activo" : "Inactivo")
                                            </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="cuadro-info">
                                        <InputModalComponent IsVisible=true @ref ="crComplement" @bind-InputValue="addressDtoRequest.CrComplement" MethodValueChanged="ActualizarDireccion" IsRequired="false" LabelText="Cr Complemento" Placeholder="Cr Complemento" FieldType="ValidationType.Name" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="cuadro-info">
                                        
                                        <div class="input-container">
                                            <label for="input2" class="mb-2">St Cardinalidad<span class="darkred">*</span></label>
                                        </div>
                                        <div class="input-container">
                                            <TelerikDropDownList Data="@cardinalityList"
                                            @bind-Value="@crCardinality"
                                                                 Id="crCardinality"
                                                                 DefaultText="@textCrCardinality"
                                                                 TextField="value"
                                                                 ValueField="code"
                                                                 Filterable="true"
                                                                 OnChange="ActualizarDireccion"
                                                                 FilterOperator="StringFilterOperator.Contains">
                                            </TelerikDropDownList>
                                        </div>
                                </div>
                            </div>
                        </div>

                        <!-- Quinta fila con un DropDownList HouseType, HouseClass y un input "HouseNumber" -->
                        <div class="row mt-3 w-100">
                            <div class="col-md-4">
                                <div class="cuadro-info">
                                        <div class="input-container">
                                            <label for="input2" class="mb-2">Tipo de Casa<span class="darkred">*</span></label>
                                        </div>
                                        <div class="input-container">
                                            <TelerikDropDownList Data="@houseTypeList"
                                            @bind-Value="@houseType"
                                                                 Id="houseType"
                                                                 DefaultText="@textHouseType"
                                                                 TextField="value"
                                                                 ValueField="code"
                                                                 Filterable="true"
                                                                 OnChange="ActualizarDireccion"
                                                                 FilterOperator="StringFilterOperator.Contains">
                                            </TelerikDropDownList>
                                        </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="cuadro-info">
                                        <div class="input-container">
                                            <label for="input2" class="mb-2">Clase de Casa<span class="darkred">*</span></label>
                                        </div>
                                        <div class="input-container">
                                            <TelerikDropDownList Data="@houseClassList"
                                                                @bind-Value="@houseClass"
                                                                 Id="houseClass"
                                                                 DefaultText="@textHouseClass"
                                                                 TextField="value"
                                                                 ValueField="code"
                                                                 Filterable="true"
                                                                 OnChange="ActualizarDireccion"
                                                                 FilterOperator="StringFilterOperator.Contains">
                                            </TelerikDropDownList>
                                        </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="cuadro-info">
                                        <InputModalComponent IsVisible=true @ref ="houseNumber" @bind-InputValue="addressDtoRequest.HouseNumber" MethodValueChanged="ActualizarDireccion" IsRequired="false" LabelText="Número de vivienda" Placeholder="Número de vivienda" FieldType="ValidationType.NumbersOnly" />
                                </div>
                            </div>
                        </div>

                        <!-- Sexta fila con un DropDownList Country, State y City -->
                        <div class="row mt-3 w-100">
                            <div class="col-md-4">
                                <div class="cuadro-info">
                                        <div class="input-container">
                                            <label for="input2" class="mb-2">Pais<span class="darkred">*</span></label>
                                        </div>
                                        <div class="input-container">
                                            <TelerikDropDownList Data="@countryList"
                                                                 @bind-Value="@country"
                                                                 Id="country"
                                                                 DefaultText="@textCountry"
                                                                 TextField="name"
                                                                 ValueField="countryId"
                                                                 Filterable="true"
                                                                 OnChange="GetState"
                                                                 FilterOperator="StringFilterOperator.Contains">
                                            </TelerikDropDownList>
                                        </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="cuadro-info">
                                        <div class="input-container">
                                            <label for="input2" class="mb-2">Departamento<span class="darkred">*</span></label>
                                        </div>
                                        <div class="input-container">
                                            <TelerikDropDownList Data="@stateList"
                                                                 @bind-Value="@state"
                                                                 Id="state"
                                                                 DefaultText="@textState"
                                                                 TextField="name"
                                                                 ValueField="stateId"
                                                                 Filterable="true"
                                                                 OnChange="GetCity"
                                                                 Enabled="@EnabledDepartamento"
                                                                 FilterOperator="StringFilterOperator.Contains">
                                            </TelerikDropDownList>
                                        </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="cuadro-info">
                                        <div class="input-container">
                                            <label for="input2" class="mb-2">Municipio<span class="darkred">*</span></label>
                                        </div>
                                        <div class="input-container">
                                            <TelerikDropDownList Data="@cityList"
                                                                 @bind-Value="@city"
                                                                 Id="city"
                                                                 DefaultText="@textCity"
                                                                 TextField="name"
                                                                 ValueField="cityId"
                                                                 Filterable="true"
                                                                 Enabled="@EnabledMunicipio"
                                                                 FilterOperator="StringFilterOperator.Contains">
                                            </TelerikDropDownList>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </EditForm>
                <ModalNotificationsComponent @ref="notificationModal" OnModalClosed="HandleModalNotiClose"></ModalNotificationsComponent>
            </ChildContent>
        </GenericModalComponent>
    </TelerikRootComponent>
</div>

