@using ControlDoc.Models.Models.Administration.Response;

<div class="my-modal">
    <TelerikRootComponent>
        <GenericModalComponent Title="Administración - Series" IsVisible="modalStatus" OnModalClosed="HandleModalClosed">
            <ChildContent>
                <EditForm Model="@serieDtoRequest" OnValidSubmit="HandleValidSubmit">
                    <div class="row p-2">
                        <!-- Parte Izquierda: Input y Label -->
                        <div class="col-md-6 mt-4">
                            <DropDownListTelerik @ref="idProOffice" SelectedValueint="@MySelectedProOffice"
                                                 Id="productionOffices"
                                                 DefaultText="@Text"
                                                 Filterable="@true"
                                                 TextField="Name"
                                                 ValueField="ProductionOfficeId"
                                                 T="ProductionOfficesDtoResponse"
                                                 Enabled="@UpdateForm"
                                                 Data="@proOfficeList">
                            </DropDownListTelerik>
                        </div>
                        <!-- Parte Derecha: Dos Botones -->
                        <div class="col-md-6 mt-4 cuadro-botones">
                            <div class="d-flex gap-4">
                                <button class="botones limpiar" type="button" @onclick="ResetFormAsync">Limpiar</button>
                                <button class="botones guardar" type="submit">Guardar</button>
                            </div>
                        </div>
                    </div>

                    <div class="container mt-5">
                        <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
                            <!-- Primera fila -->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="cuadro-info">
                                        <InputModalComponent IsRequired="true" @bind-InputValue="@serieDtoRequest.Code" LabelText="Código" IsDisabled="@IsDisabledCode"  Placeholder="Ingrese el Código" FieldType="ValidationType.Code" @ref="codeInput" />
                                        <InputModalComponent IsRequired="true" @bind-InputValue="@serieDtoRequest.Name" LabelText="Nombre" Placeholder="Ingrese el Nombre" FieldType="ValidationType.Name" @ref="nameInput" />
                                    </div>
                                </div>

                                <!-- Segunda columna -->
                                <div class="col-md-4">
                                    <div class="cuadro-info">
                                        <InputModalComponent LabelText="Descripcion"  @bind-InputValue="@serieDtoRequest.Description" Placeholder="Ingrese Descripción" FieldType="ValidationType.None" @ref="descriptionInput" />
                                    </div>
                                </div>

                                <!-- Tercera columna -->
                                <div class="col-md-4">
                                    <div class="cuadro-info">
                                        <div class="cuadro-info">
                                            <div class="form-check form-switch">
                                                <SwitchComponent @bind-CurrentValue="activeState" TextStateActive="Activo" TextStateDisabled="Inactivo" ShowText=false />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </EditForm>
                <ModalNotificationsComponent @ref="notificationModal" OnModalClosed="HandleModalNotiClose"></ModalNotificationsComponent>
            </ChildContent>
        </GenericModalComponent>
    </TelerikRootComponent>
</div>
