
<div class="my-modal">
    <TelerikRootComponent>

        <GenericModalComponent Title="Visualización de Metadatos" Width="60%" IsVisible="modalStatus" OnModalClosed="HandleModalClosed">
            <ChildContent>
                <EditForm Model="@MetaDataFormResponse" OnValidSubmit="HandleValidSubmit">
                    <div class="row">
                        <div class="col-md-12 pt-3">
                            <strong class="texto">Diplomas y certificaciones de estudio</strong>
                        </div>
                        <div class="row col-md-12 d-flex justify-content-end">
                            <div class="col-md-2">
                                <button class="btn btn-primary btn-lg btn-block botones limpiar" type="button">Limpiar</button>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary btn-lg btn-block botones guardar" type="submit">Guardar</button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <InputModalComponent @ref="MetaDatoInput" @bind-InputValue="@Metadato" IsRequired="false" LabelText="Metadato" Placeholder="Metadato" />
                        </div>
                        <div class="col-md-3">
                            <InputModalComponent @ref="PositionInput" @bind-InputValue="@Position" IsRequired="false" LabelText="Posición" Placeholder="Id Posición" InputType="number" />
                        </div>
                        <div class="col-md-3">
                            <InputModalComponent @ref="IdMetaTitituloInput" @bind-InputValue="@MetaTitulo" IsRequired="false" LabelText="ID Meta Título" Placeholder="ID Meta Título" InputType="number" />
                        </div>
                        <div class="col-md-3 d-flex justify-content-center">
                            <div class="form-check">
                                <SwitchComponent @bind-CurrentValue="activeState" TextStateActive="Activo" TextStateDisabled="Inactivo" ShowText=false />
                            </div>
                        </div>
                        
                    </div>
                </EditForm>
                <div class="col-md-12 pt-3">
                    <label class="text">Arrastre el título de una columna y suéltelo aquí para agrupar por ese criterio</label>
                </div>
                <div class="col-md-12">
                    <TelerikGrid Data="Data" PageSize="10"
                                 Sortable="true"
                                 FilterMode="GridFilterMode.FilterMenu"
                                 Resizable="true"
                                 Reorderable="true"
                                 EditMode="GridEditMode.Popup"
                                 SelectionMode="GridSelectionMode.None">
                        <GridColumns>
                            <GridCommandColumn Width="80px" Title="Acciones" HeaderClass="center-wrap" Visible="true">

                                <GridCommandButton Icon="@SvgIcon.Pencil" Title="Editar MetaDato"></GridCommandButton>
                            </GridCommandColumn>

                            <GridColumn Field="Category" Title="ID" Width="150px" Filterable="true" TextAlign="ColumnTextAlign.Center" HeaderClass="center-wrap" />
                            <GridColumn Field="Value" Title="Posición" Width="150px" Filterable="true" TextAlign="ColumnTextAlign.Center" HeaderClass="center-wrap" />
                            <GridColumn Field="Value" Title="Código" Width="150px" Filterable="true" TextAlign="ColumnTextAlign.Center" HeaderClass="center-wrap" />
                            <GridColumn Field="Value" Title="Nombre" Width="150px" Filterable="true" TextAlign="ColumnTextAlign.Center" HeaderClass="center-wrap" />
                            <GridColumn Field="Value" Title="Tipo de Metadato" Width="150px" Filterable="true" TextAlign="ColumnTextAlign.Center" HeaderClass="center-wrap" />
                            <GridColumn Field="Value" Title="Estado" Width="150px" Filterable="true" TextAlign="ColumnTextAlign.Center" HeaderClass="center-wrap" />
                            <GridColumn Field="Value" Title="usuario" Width="150px" Filterable="true" TextAlign="ColumnTextAlign.Center" HeaderClass="center-wrap" />

                        </GridColumns>
                        <NoDataTemplate>
                            <strong>No Data available / The data is still loading...</strong>
                        </NoDataTemplate>
                    </TelerikGrid>
                </div>
                <ModalNotificationsComponent @ref="notificationModal" OnModalClosed="HandleModalNotiClose"></ModalNotificationsComponent>
            </ChildContent>
        </GenericModalComponent>
    </TelerikRootComponent>
</div>
