@using ControlDoc.Components.Components.Switch


<div class="my-modal">

    <TelerikRootComponent>

        <GenericModalComponent Title=@($"Administración - Personas {(personType == "PN" ? "Naturales" : "Jurídicas")}") IsVisible=ModalStatus Width="55%" OnModalClosed="HandleModalClosed">
            <ChildContent>
                <EditForm Model="@thirdPartyDtoResponse" OnValidSubmit="HandleValidSubmit">
                    <div class="container">
                        <!-- Parte Izquierda: Input y Label -->
                        <div class="col-md-5 col-sm-12">
                            <InputModalComponent @ref=thirdPartyId @bind-InputValue="IdThirdParty"  IsRequired="false" LabelText="ID" Placeholder="Número de identificación" IsDisabled FieldType="ValidationType.NumbersOnly" />
                        </div>
                        <div class="col-md-3 col-sm-6 pt-4 top-buttons">
                            <label> <TelerikSwitch @bind-Value="@activeState" />  @(activeState ? "Activo" : "Inactivo")</label>
                        </div>

                        <!-- Parte Derecha: Dos Botones -->
                        <div class="col-md-4 col-sm-6 pt-4 top-buttons">
                            <div class="text-end">
                                <button class="botones limpiar" type="button" @onclick=ResetFormAsync>Limpiar</button>
                                <button class="botones guardar" type="submit">Guardar</button>
                            </div>
                        </div>
                    </div>

                    <div class="container mt-5">

                        <!-- Persona Natural -->
                        <div id="Panel_natural" class="w-100 @((personType != "PN") ? "hide-panel" : "")">

                            <!-- Primera fila -->
                            <div class="row">
                                <div class="col-md-4 col-sm-12">
                                    <div class="">
                                        <label for="input2" class="mb-2">Tipo de Identificación<span class="darkred">*</span></label>
                                    </div>
                                    <div class="input-container w-100">
                                        <TelerikDropDownList Data="@identificationTypeList"
                                        @bind-Value="@identificationType"
                                                             Id="stType"
                                                             DefaultText="@textIdentificationType"
                                                             TextField="value"
                                                             ValueField="code"
                                                             Filterable="true"
                                                             FilterOperator="StringFilterOperator.Contains">
                                        </TelerikDropDownList>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-12">
                                    <div class="cuadro-info">
                                        <InputModalComponent @ref=identification @bind-InputValue="thirdPartyDtoResponse.IdentificationNumber" IsRequired="true" LabelText="Identificación" Placeholder="Ingrese la Identificación" FieldType="ValidationType.NumbersOnly" />
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <div class="cuadro-info">
                                        <InputModalComponent @ref=names @bind-InputValue="thirdPartyDtoResponse.Names"  IsRequired="true" LabelText="Nombres" Placeholder="Nombres" FieldType="ValidationType.Name" />
                                    </div>
                                </div>
                                
                            </div>

                            <!-- Segunda fila -->
                            <div class="row mt-3">
                                <div class="col-md-4 col-sm-12">
                                    <div class="cuadro-info">
                                        <!--  (persontype == 0) ? true : false-->
                                        <InputModalComponent @ref=lastNames @bind-InputValue="thirdPartyDtoResponse.LastName" IsRequired="@((personType == "PN") ? true : false)" LabelText="Apellidos" Placeholder="Apellidos" FieldType="ValidationType.Name" />
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-12">
                                    <div class="cuadro-info">
                                        <InputModalComponent @ref=webpage @bind-InputValue="thirdPartyDtoResponse.WebPage"  IsRequired="true" LabelText="Página Web" Placeholder="Página Web" FieldType="ValidationType.Website" />
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-12">
                                    <div class="cuadro-info">
                                        <InputModalComponent @ref=email1 @bind-InputValue="thirdPartyDtoResponse.Email1"  IsRequired="true" LabelText="Email 1" Placeholder="Email 1" FieldType="ValidationType.Email" />
                                    </div>
                                </div>
                                
                            </div>
                            
                            <!-- Tercera fila -->
                            <div class="row mt-3">
                                
                                <div class="col-md-4 col-sm-12">
                                    <div class="cuadro-info">
                                        <InputModalComponent @ref=phone1 @bind-InputValue="thirdPartyDtoResponse.Phone1"  IsRequired="true" LabelText="Telefono 1" Placeholder="Telefono 1" FieldType="ValidationType.NumbersOnly" />
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <div class="cuadro-info">
                                        <InputModalComponent @ref=phone2 @bind-InputValue="thirdPartyDtoResponse.Phone2" IsRequired="false" LabelText="Telefono 2" Placeholder="Telefono 2" FieldType="ValidationType.NumbersOnly" />
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-12">
                                    <div class="cuadro-info">

                                        <div class="input-container">
                                            <label for="input2" class="mb-2">Cargo<span class="darkred">*</span></label>
                                        </div>
                                        <div class="input-container w-100">
                                            <TelerikDropDownList Data="@chargeList"
                                            @bind-Value="@charge"
                                                                 Id="chargeId"
                                                                 DefaultText="@textCharge"
                                                                 TextField="value"
                                                                 ValueField="code"
                                                                 Filterable="true"
                                                                 FilterOperator="StringFilterOperator.Contains">
                                            </TelerikDropDownList>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Cuarta fila -->
                            <div class="row">
                                <div class="col-md-3 col-sm-12 pt-4">
                                    <div class="cuadro-info">
                                        <button class="w-100 address-button botones limpiar" type="button" @onclick="OpenNewModal">Agregar dirección</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                        <!-- Persona Juridica -->
                        <div id="Panel_juridica" class="w-100 @((personType != "PJ") ? "hide-panel" : "")">

                            <!-- Primera fila -->
                            <div class="row">
                                <div class="col-md-4 col-sm-12">
                                    <div class="">
                                        <label for="input2" class="mb-2">Tipo de Identificación<span class="darkred">*</span></label>
                                    </div>
                                    <div class="input-container w-100">
                                        <TelerikDropDownList Data="@identificationTypeList"
                                        @bind-Value="@identificationType"
                                                             Id="stType"
                                                             DefaultText="@textIdentificationType"
                                                             TextField="value"
                                                             ValueField="code"
                                                             Filterable="true"
                                                             FilterOperator="StringFilterOperator.Contains">
                                        </TelerikDropDownList>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <div class="cuadro-info">
                                        <InputModalComponent @ref=identification @bind-InputValue="thirdPartyDtoResponse.IdentificationNumber"  IsRequired="true" LabelText="Identificación" Placeholder="Ingrese la Identificación" FieldType="ValidationType.NumbersOnly" />
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-12">
                                    <div class="cuadro-info">
                                        <InputModalComponent @ref=names @bind-InputValue="thirdPartyDtoResponse.Names"  IsRequired="true" LabelText="Razón Social" Placeholder="Razón Social" FieldType="ValidationType.Name" />
                                    </div>
                                </div>

                            </div>

                            <!-- Segunda fila -->
                            <div class="row mt-3">

                                <div class="col-md-4 col-sm-12">
                                    <div class="cuadro-info">
                                        <InputModalComponent @ref=phone1 @bind-InputValue="thirdPartyDtoResponse.Phone1"  IsRequired="true" LabelText="Telefono 1" Placeholder="Telefono 1" FieldType="ValidationType.NumbersOnly" />
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-12">
                                    <div class="cuadro-info">
                                        <InputModalComponent @ref=phone2 @bind-InputValue="thirdPartyDtoResponse.Phone2"  IsRequired="false" LabelText="Telefono 2" Placeholder="Telefono 2" FieldType="ValidationType.NumbersOnly" />
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-12">
                                    <div class="cuadro-info">
                                        <InputModalComponent @ref=email1 @bind-InputValue="thirdPartyDtoResponse.Email1"  IsRequired="true" LabelText="Email 1" Placeholder="Email 1" FieldType="ValidationType.Email" />
                                    </div>
                                </div>
                                
                                
                            </div>

                            <!-- Tercera fila -->
                            <div class="row mt-3">

                                <div class="col-md-4 col-sm-12">
                                    <div class="cuadro-info">
                                        <InputModalComponent @ref=email2 @bind-InputValue="thirdPartyDtoResponse.Email2"  IsRequired="false" LabelText="Email 2" Placeholder="Email 2" FieldType="ValidationType.Email" />
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <div class="cuadro-info">
                                        <InputModalComponent @ref=webpage @bind-InputValue="thirdPartyDtoResponse.WebPage"  IsRequired="true" LabelText="Página Web" Placeholder="Página Web" FieldType="ValidationType.Website" />
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-12">
                                    <div class="input-container">
                                        <label for="input2" class="mb-2">Naturaleza<span class="darkred">*</span></label>
                                    </div>
                                    <div class="input-container w-100">
                                        <TelerikDropDownList Data="@natureList"
                                        @bind-Value="@nature"
                                                             Id="natureId"
                                                             DefaultText="@textNature"
                                                             TextField="value"
                                                             ValueField="code"
                                                             Filterable="true"
                                                             FilterOperator="StringFilterOperator.Contains">
                                        </TelerikDropDownList>
                                    </div>
                                </div>
                                
                            </div>

                            <!-- Cuarta fila -->
                            <div class="row mt-3">
                                <div class="col-md-4 col-sm-12">
                                    <div class="cuadro-info">
                                        <InputModalComponent @ref=initials @bind-InputValue="thirdPartyDtoResponse.Initials"  IsRequired="false" LabelText="Iniciales" Placeholder="Ingrese las Iniciales" FieldType="ValidationType.Name" />
                                    </div>
                                </div>

                            </div>

                            <!-- Quinta fila -->
                            <div class="row">
                                <div class="col-md-3 col-sm-12 pt-4">
                                    <div class="cuadro-info">
                                        <button class="w-100 address-button botones limpiar" type="button" @onclick="OpenNewModal">Agregar dirección</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </EditForm>
                <ModalNotificationsComponent @ref="notificationModal" OnModalClosed="HandleModalNotiClose"></ModalNotificationsComponent>

            </ChildContent>
        </GenericModalComponent>
    </TelerikRootComponent>
</div>