<div class="my-modal">
    <TelerikRootComponent>

        <GenericModalComponent Title="Parametrización - Bolsa de Tipologías - Vinculación" width="80%" IsVisible="modalStatus" OnModalClosed="HandleModalClosed">
            <ChildContent>

                <EditForm Model="@documentaryTypologies" OnValidSubmit="HandleValidSubmit">

 
                    <div class="row m-0 pb-10">

                        <div class="col-md-3 mt-4">
                            <InputModalComponent LabelText="Código Bolsa de Tipologia Documental" IsDisabled="true" Placeholder="@Text" />
                        </div>
                        <!-- dropdowns encargados de filtra la busqueda -->
                        <div class="col-md-3 mt-4">
                            <label for="input2" style="margin-bottom:6px;">Version documental <span class="darkred">*</span></label>
                            <TelerikDropDownList Data="@docVersionList"
                                                 ValueField="DocumentalVersionId"
                                                 Value="@idDocVersion"
                                                 TextField="Name"
                                                 ValueChanged="@( (int newValue) => GetAdministrativeUnits(newValue) )"
                                                 ValueExpression="@(()=>idDocVersion)"
                                                 Filterable="true"
                                                 DefaultText="Versiones documentales">
                            </TelerikDropDownList>
                        </div>
                        <div class="col-md-3 mt-4">
                            <label for="input2" style="margin-bottom:6px;">Unidad Administrativa <span class="darkred">*</span></label>
                            <TelerikDropDownList Data="@adminUnitList"
                                                 ValueField="AdministrativeUnitId"
                                                 Value="@idAdminUnit"
                                                 TextField="Name"
                                                 ValueChanged="@( (int newValue) => GetProducOffice(newValue) )"
                                                 Enabled="isEnableAdminUnit"
                                                 ValueExpression="@(()=>idAdminUnit)"
                                                 Filterable="true"
                                                 DefaultText="Unidades Administrativas">
                            </TelerikDropDownList>
                        </div>
                        <div class="col-md-3 mt-4">
                            <label for="input2" style="margin-bottom:6px;">Officina <span class="darkred">*</span></label>
                            <TelerikDropDownList Data="@proOfficesList"
                                                 ValueField="ProductionOfficeId"
                                                 Value="@idProOffice"
                                                 TextField="Name"
                                                 ValueChanged="@( (int newValue) => GetSeries(newValue) )"
                                                 Enabled="isEnableProOffice"
                                                 Filterable="true"
                                                 ValueExpression="@(()=>idProOffice)"
                                                 DefaultText="Officinas">
                            </TelerikDropDownList>
                        </div>
                        <div class="col-md-3 mt-4">
                            <label for="input2" style="margin-bottom:6px;">Serie documental</label>
                            <TelerikDropDownList Data="@seriesList"
                                                 ValueField="SeriesId"
                                                 Value="@idSerie"
                                                 TextField="Name"
                                                 ValueChanged="@( (int newValue) => GetSubSeries(newValue) )"
                                                 Enabled="isEnableSerie"
                                                 Filterable="true"
                                                 ValueExpression="@(()=>idSerie)"
                                                 DefaultText="Series documentales">
                            </TelerikDropDownList>
                        </div>
                        <div class="col-md-3 mt-4">
                            <label for="input2" style="margin-bottom:6px;">Sub-Serie documental</label>
                            <TelerikDropDownList Data="@subSeriesList"
                                                 ValueField="SubSeriesId"
                                                 Value="@idSubSerie"
                                                 TextField="Name"
                                                 Enabled="isEnableSubSerie"
                                                 Filterable="true"
                                                 ValueExpression="@(()=>idSubSerie)"
                                                 DefaultText="Sub-Series documentales">
                            </TelerikDropDownList>
                        </div> 
                        <div class="col-md-3 mt-4">
                            <br />
                            <!-- Parte Derecha: Dos Botones -->
                            <button class="btn btn-primary btn-lg btn-block btn-style" type="button" @onclick="ResetFormAsync">Limpiar</button>
                        </div>
                        <div class="col-md-3 mt-4">
                            <br />
                            <button class="btn btn-primary btn-lg btn-block btn-style" type="submit" disabled="@(isEnableButton)">Buscar</button>
                       </div>
                    </div>
                     
                </EditForm>

                <ModalNotificationsComponent @ref="notificationModal" OnModalClosed="HandleModalNotiClose"></ModalNotificationsComponent>

            </ChildContent>
        </GenericModalComponent>
    </TelerikRootComponent>
</div>
