@using ControlDoc.Models.Models.Administration.Response;





<div class="my-modal">

    <TelerikRootComponent>
        <GenericModalComponent Title="Administración - Oficinas Productoras" IsVisible="modalStatus" OnModalClosed="HandleModalClosed" width="40%">

            <ChildContent>




                <EditForm Model="@productionOfficeRequest" OnValidSubmit="HandleValidSubmit">

                    <div class="row p-2">

                        <div class="col-md-6 mt-4 ">
                            <label> <b>Unidad Administrativa</b></label>


                            <TelerikDropDownList Data="@administrativeUnitList"
                                                 Value="administrativeUnitId"
                                                 ValueField="Name"
                                                 Filterable=false
                                                 DefaultText="@text"
                                                 Enabled=false
                                                 TextField="Name"
                                                 Width="300px">

                            </TelerikDropDownList>




                        </div>

                        <div class="col-md-6 mt-4 ">
                            <div class="text-end">
                                <button class="btn btn-ligth  btn-md btn-outline-primary mt-4 " @onclick="ResetFormAsync">Limpiar</button>
                                <button class="btn btn-primary btn-md btn-block  mt-4" type="submit">Guardar</button>
                            </div>

                        </div>


                    </div>

                    <div class="container mt-5">


                        <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="cuadro-info">
                                        <InputModalComponent @ref="inputCode" @bind-InputValue="productionOfficeRequest.Code" IsRequired="true" LabelText="Código" Placeholder="Codigo" FieldType="ValidationType.Code" />
                                        <InputModalComponent @ref="inputDescription" @bind-InputValue="productionOfficeRequest.Description" IsRequired="true" LabelText="Descripción" Placeholder="Descripción" FieldType="ValidationType.None" />
                                    </div>

                                </div>

                                <div class="col-md-4">

                                    <div class="cuadro-info">
                                        <InputModalComponent @ref="inputName" @bind-InputValue="productionOfficeRequest.Name" IsRequired="true" LabelText="Nombre" Placeholder="Nombre" FieldType="ValidationType.NotEmpty" />
                                        <InputModalComponent @ref="inputBoss" @bind-InputValue="bossNamme" IsDisabled="@true" IsRequired="true" LabelText="Jefe" Placeholder="Nombre del jefe" FieldType="ValidationType.NotEmpty" />
                                    </div>

                                </div>
                                <div class="col-md-4 pt-1">
                                    <div class="cuadro-info mt-4">
                                        <div class="form-check form-switch">

                                            <label> <TelerikSwitch @bind-Value="activeState" /> @(activeState ? "Activo" : "Inactivo")</label>




                                        </div>

                                        <div class="py-2 pt-5">
                                            <button class="btn btn-primary btn-md btn-block " type="button" @onclick="OpenNewModal">Agregar Jefe</button>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>

                </EditForm>
                <ModalNotificationsComponent @ref="notificationModal" OnModalClosed="HandleModalNotiClose"></ModalNotificationsComponent>
            </ChildContent>



        </GenericModalComponent>

    </TelerikRootComponent>

</div>