
<div class="flex-column h-100 flex-shrink-0 navmenu-color">
    
    <!-- lista de iconos de Menu de acceso rapido, en esta tambien se encuentra el icono de Menu Desplegable-->
    <ul class="nav mb-auto text-center flex-column">

        <!-- Icono de Menu Desplegable, este tiene una accion onclick que hace visible el menu desplegable -->
        <li class="nav-item other-menu" @onclick="ToggleNewMenuVisibility">
            <!-- Aqui hay un Tooltip que nos ayuda a mostrar el nombre del icono -->
            <a  class="nav-link  py-3 " aria-current="page">
                <!-- Aqui esta la imagen del icono del menu desplegable -->
                <img src="../icons/icon_menu.png" alt="Menu Icon" class="icon-buttons" aria-label="Menu" />
            </a>
        </li>

        <!-- Se recorre una lista de items del menu-->
        @foreach (var item in sidebarItemsList)
        {
            <!-- Iconos de acceso rapido -->
            <li class="nav-item nav-item-access">
                <!-- 
                    Hay un estilo active para que la casilla del icono tenga un estado de activa, tambien hay un Tooltip
                    que nos ayuda a mostrar el nombre del icono, y al final hay un onmouseover="()=>Change()" que se usa
                    para cambiar el valor del active a true cuando el mouse este sobre el icono.
                -->
                <a href="/Home" class="nav-link nav-link-access @(item.Active ? "active" : "") py-3 tt"
                   aria-current="page" 
                    @onclick="()=>SetActiveItem(sidebarItemsList.IndexOf(item))" 
                    @onmouseover="()=>Change(sidebarItemsList.IndexOf(item))"
                    @onmouseout="()=>Change(sidebarItemsList.IndexOf(item))">
                    <!--
                        Se utiliza la funcion GetIconPath para obtener el icono, aqui se le pasa un item.ImageChange
                        que es un bool que dice si el icono esta seleccionado, ademas tambien un item.IconPath que
                        es un int que nos ayuda a decir cual es el numero en el nombre del icono, 
                        ejem: ../icons/icon_menu_1.png
                    -->
                    <img src="@GetIconPath(item.Active, item.ImageChange, item.IconPath)" alt=@item.ItemName class="icon-buttons" aria-label="Inicio" />
                    <div class="text-container">
                        <label class="text-item">@item.ItemName</label>
                    </div>
                    
                </a>

                
                 <!-- Mostrar los subitems solo si el ícono está seleccionado -->
                 @if (item.Active && (item.IconPath != "1" && item.IconPath != "7" && item.IconPath != "8"))
                 {
                     <div class="nav-menu-subitems-container position-absolute">

                         <ul class="navmenusubitems pb-4">

                             <button class="close-button position-absolute top-0 end-0 m-2" @onclick="()=>CloseSubMenu(sidebarItemsList.IndexOf(item))"></button>

                             <NavMenuSubItems item="item" sidebarItemsList="item.SubItems" />
                         
                     
                         </ul>
                     </div> 
                 }

               
            </li>
        }

        <!-- Icono de Menu Desplegable, este tiene una accion onclick que hace visible el menu desplegable -->
        <li class="nav-item nav-item-access item-logout pt-4">
            <!-- Aqui hay un Tooltip que nos ayuda a mostrar el nombre del icono -->
            <a class="nav-link logout-a py-3 @(logout.Active ? "active": "") " aria-current="page" @onclick="()=>Change_logout()">
                <!-- Aqui esta la imagen del icono del menu desplegable -->
                <img src="@GetIconPath(logout.Active,logout.Active,logout.IconPath)" alt="Log-out icon" class="icon-buttons logout-img" aria-label="Log-out" />
                <div class="text-container">
                    <label class="text-item">@logout.ItemName</label>
                </div>
            </a>
        </li>


    </ul>

</div>


