@page "/Home"
@layout MenuLayout

<PageTitle>DASHBOARD</PageTitle>


<div class="row d-flex justify-content-center pb-30" >
    <div class="col-11" @onclick="ChangeDate2">
        <div class="card box-shadow-dashboard ">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="row">
                            <div class="col-12">
                                <label class="style-bg"><b>@DropDownLanguageComponent.GetText("LabelPerfilEmpresarial")</b></label>
                            </div>
                            <div class="col-12">
                                <img src="../img/logoControlDashboard.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mt-3 mt-md-0" style="text-align: end;">
                        <h5 class="d-none d-sm-block">@DropDownLanguageComponent.GetText("TituloDatosdelaEmpresa")</h5>
                        <div class="row">
                            <div class="col-12">
                                <label>@DropDownLanguageComponent.GetText("LabelNitEmpresa"): <b>830041538-7</b></label>
                            </div>
                            <div class="col-12">
                                <label>@DropDownLanguageComponent.GetText("LabelDireccionEmpresa"): <b>Avenida El Dorado No 69 - 63 <br />Edificio Torre 26 Oficina 209</b></label>
                            </div>
                            <div class="col-12 d-none d-md-block">
                                <label>@DropDownLanguageComponent.GetText("LabelTelefonoEmpresa"): <b>4673981</b></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-11 mt-3">
        <div class="card box-shadow-dashboard ">
       
            <div class="card-body d-flex flex-column">
                <!-- Primera fila que ocupa todo el espacio disponible -->
                <div class="row flex-grow-1">
                    <!-- Contenido a la izquierda -->
                    <div class="col-md-6 d-flex align-items-center" @onclick="ChangeDate2">
                        <div class="content-left">
                            <div class="col-12">
                                <label class="style-bg"><b>@DropDownLanguageComponent.GetText("LabelBandejaGestion")</b></label>
                            </div>

                        </div>
                    </div>
                    <!-- Contenido a la derecha -->
                    <div class="col-md-6">
                        <div class="row align-items-center justify-content-start">
                            <div class="col-6 d-flex align-items-center " @onclick="@ChangeDate">
                                <img src="../img/filter.svg" />
                                @DropDownLanguageComponent.GetText("SvgFiltrarPorFecha"):

                                
                            </div>
                            @{
                                if (click==true)
                                {
                                    <div class="col-4 d-flex align-items-center">
                                        <TelerikDateRangePicker @bind-StartValue="@StartValue"
                                        @bind-EndValue="@EndValue"
                                                                Format="dd MMMM yyyy"
                                                                Min="@Min" Max="@Max">
                                        </TelerikDateRangePicker>
                                    </div>
                                }
                            }
                            
                        </div>
                    </div>

                </div>

                <!-- Segunda fila que ocupa todo el espacio disponible -->
                <div class="row flex-grow-1 flex-column-reverse flex-md-row" @onclick="ChangeDate2">
                    <!-- Primera columna -->
                    <div class="col order-2 order-md-1 d-flex flex-column align-items-stretch m-md-5">
                        <!-- Primera fila -->
                        <div class="row flex-grow-1">
                            <div class="col d-flex align-items-center mb-3">
                                <!-- Contenido 1 arriba -->
                                <DynamicCardGestionComponent BorderColor="#AB2222"
                                                             CardNumber="154"
                                                             ImageUrl="../img/flechaArriba.svg"
                                                             LabelText=@DropDownLanguageComponent.GetText("LabelEnProceso")
                                                             CardNumberPercen="5%" />
                            </div>
                            <div class="col d-flex align-items-center mb-3">
                                <!-- Contenido 2 arriba -->
                                <DynamicCardGestionComponent BorderColor="#EAD519"
                                                             CardNumber="80"
                                                             ImageUrl="../img/flechaAbajo.svg"
                                                             LabelText=@DropDownLanguageComponent.GetText("LabelEnTransito")
                                                             CardNumberPercen="20%" />
                            </div>
                        </div>
                        <!-- Segunda fila -->
                        <div class="row flex-grow-1">
                            <div class="col d-flex align-items-center mb-3">
                                <!-- Contenido 2 abajo -->
                                <DynamicCardGestionComponent BorderColor="#82A738"
                                                             CardNumber="2"
                                                             ImageUrl="../img/flechaAbajo.svg"
                                                             LabelText=@DropDownLanguageComponent.GetText("LabelGestionExitosa")
                                                             CardNumberPercen="40%" />
                            </div>

                           
                        </div>
                    </div>

                    <!-- Segunda columna -->
                    <div class="col order-1 order-md-2 d-flex align-items-center justify-content-center">
                        <div class="content-bottom-right custom-chart ">

                            @*                             <DonutChartComponent ChartLegendVisible="true"
                            ChartSeriesLabelsVisible="true"
                            ChartSeriesTooltipVisible="true"
                            ChartTitleText="Hola Nicolas"
                            ChartTitleVisible="true"
                            Data="Data"
                            TextField="Value"
                            ValueField="Category"
                            ColorField="color">

                            </DonutChartComponent> *@
                            <TelerikChart>
                                <ChartLegend Visible="true" Position="ChartLegendPosition.Top"></ChartLegend>
                                <ChartSeriesItems>
                                    <ChartSeries Type="ChartSeriesType.Donut"
                                                 Data="@Data"
                                                 Field="@nameof(ModelData.Value)">
                                        <ChartSeriesTooltip Visible="true" Context="item">

                                           
                                        </ChartSeriesTooltip>

                                    </ChartSeries>
                                </ChartSeriesItems>
                            </TelerikChart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3 col-11 " @onclick="ChangeDate2">
        <div class="card box-shadow-dashboard ">
            <div class="card-body">
                <div class="col-11">
                    <label class="style-bg"><b>@DropDownLanguageComponent.GetText("LabelTareasDocumentales")</b></label>
                </div>
            </div>
            <div class="row d-flex justify-content-center pb-4">
                <!-- Tarjeta 1 -->
                <div class="col-6 col-md-2 mb-3">
                    <!-- Contenido de la tarjeta 1 -->
                    <DynamicCardComponent BorderColor="#CB4A33"
                                          ShadowColor="#CB4A33"
                                          ImageUrl="../img/docCreado.svg"
                                          LabelText=@DropDownLanguageComponent.GetText("LabelDocCreados")
                                          CardNumber="5" />
                </div>

                <!-- Tarjeta 2 -->
                <div class="col-6 col-md-2 mb-3">
                    <!-- Contenido de la tarjeta 2 -->
                    <DynamicCardComponent BorderColor="#01B0B2"
                                          ShadowColor="#01B0B2"
                                          ImageUrl="../img/docRevisar.svg"
                                          LabelText=@DropDownLanguageComponent.GetText("LabelDocRevisar")
                                          CardNumber="20" />
                </div>

                <!-- Tarjeta 3 -->
                <div class="col-6 col-md-2 mb-3">
                    <!-- Contenido de la tarjeta 3 -->
                    <DynamicCardComponent BorderColor="#92376F"
                                          ShadowColor="#92376F"
                                          ImageUrl="../img/docAprobar.svg"
                                          LabelText=@DropDownLanguageComponent.GetText("LabelDocAprobar")
                                          CardNumber="40" />
                </div>

                <!-- Tarjeta 4 -->
                <div class="col-6 col-md-2 mb-3">
                    <!-- Contenido de la tarjeta 4 -->
                    <DynamicCardComponent BorderColor="#B8364F"
                                          ShadowColor="#B8364F"
                                          ImageUrl="../img/docFirmar.svg"
                                          LabelText=@DropDownLanguageComponent.GetText("LabelDocFirmar")
                                          CardNumber="35" />
                </div>

                <!-- Tarjeta 5 -->
                <div class="col-6 col-md-2 mb-3">
                    <!-- Contenido de la tarjeta 5 -->
                    <DynamicCardComponent BorderColor="#12A955"
                                          ShadowColor="#12A955"
                                          ImageUrl="../img/docFirmado.svg"
                                          LabelText=@DropDownLanguageComponent.GetText("LabelFirmado")
                                          CardNumber="35" />
                </div>
            </div>
        </div>
    </div>
</div>

