@* <Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(LoginLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(LoginLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router> *@

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MenuLayout)">
            <Authorizing>
                <div>
                    <row class="centered-element container-fluid">
                        <h6>
                            <span>Autorizando...</span>
                        </h6>
                    </row>
                </div>
            </Authorizing>
            <NotAuthorized>
                <div>
                    <row class="centered-element container-fluid">
                        <h6>
                            <span>No está Autorizado...</span>
                        </h6>
                    </row>
                </div>
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(LoginLayout)">
                <div>
                    <row class="centered-element container-fluid">
                        <h6>
                            <p role="alert">Lo sentimos, no hay nada en esta dirección.</p>
                        </h6>
                    </row>
                </div>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>