@* @page "/ChangePassword"
@layout LoginLayout
@using ControlDoc.Control.Services.Features.Interfaces;

@inject IJSRuntime js
@inject SweetAlertService swal
@inject IServicios servicios
@inject HttpClient httpclient
@inject NavigationManager navigation
@inject EventAggregatorService EventAggregator *@

<PageTitle>ChangePassword</PageTitle>

<EditForm Model="@formModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ModalComponent @ref="modal"></ModalComponent>

    <div class="row">
        <div class="col-12 form-group mb-4">
            <LabelComponent KeyName=@setKeyName("LabelTextNuevaContraseña") For="password-field" AdditionalClasses="mb-2" />
            <InputComponent @ref="passwordInput" InputType=InputTypeEnum.password Placeholder="@setKeyName("PlacerHolderNuevaContraseña")" ErrorMessage="El nombre es requerido." ShowErrors="@formSubmitted" />
        </div>
        <div class="col-12 form-group mb-4">
            <LabelComponent KeyName=@setKeyName("LabelTextConfirmarContraseña") For="confirm-password-field" AdditionalClasses="mb-2" />
            <InputComponent @ref="passwordConfirmInput" InputType=InputTypeEnum.password Placeholder="@setKeyName("PlacerHolderConfirmarContraseña")" ErrorMessage="La contraseña es requerida." ShowErrors="@formSubmitted" />
        </div>
    </div>
    <div class="row button-container">
        <div class="col-12 text-center mt-2">
            <button class="btn btn-primary btn-lg w-50" type="submit">@setKeyName("ButtonConfirmar")</button>
        </div>
    </div>
    <div class="row login-prompt">
        <div class="col-12 text-center">
            <span class="login-text">@setKeyName("SpanLoginOlvidarContraseña") </span>
            <a href="#" class="login-link">@setKeyName("LinkOlvidarContraseña")</a>
        </div>
    </div>
</EditForm>